{% from "components/metadata/_macro.njk" import onsMetadata %}
{{
    onsMetadata({
        "metadataLabel": "Organisation details",
        "termCol": "4",
        "descriptionCol": "8",
        "itemsList": [
            {
                "term": "Enrolment code:",
                "descriptions": [
                    {
                        "description": context.enrolment_code
                    }
                ]
            },
            {
                "term": "Organisation:",
                "descriptions": [
                    {
                        "description": context.organisation
                    }
                ]
            },
            {
                "term": "Trading as:" if context.trading_as else null,
                "descriptions": [
                    {
                        "description": context.trading_as if context.trading_as else null
                    }
                ]
            },
            {
                "term": "Survey to complete:",
                "descriptions": [
                    {
                        "description": context.survey_name
                    }
                ]
            }
        ]
    })
}}