<div class="grid">
    <div class="grid__col col-4@m">Enrolment code:</div>
    <div class="grid__col col-8@m"><strong>{{ context.enrolment_code }}</strong></div>
    <div class="grid__col col-4@m">Organisation:</div>
    <div class="grid__col col-8@m"><strong>{{ context.organisation }}</strong></div>

    {% if context.trading_as %}
        <div class="grid__col col-4@m">Trading as:</div>
        <div class="grid__col col-8@m"><strong>{{ context.trading_as }}</strong></div>
    {% endif %}

    <div class="grid__col col-4@m">Survey to complete:</div>
    <div class="grid__col col-8@m"><strong>{{ context.survey_name }}</strong></div>
</div>