{% from "components/description-list/_macro.njk" import onsDescriptionList %}
{{
    onsDescriptionList({
        "metadataLabel": "Organisation details",
        "termCol": "4",
        "descriptionCol": "8",
        "itemsList": [
            {
                "term": "Enrolment code:" if context.enrolment_code,
                "descriptions": [
                    {
                        "description": context.enrolment_code if context.enrolment_code
                    }
                ]
            },
            {
                "term": "Organisation:" if context.organisation,
                "descriptions": [
                    {
                        "description": context.organisation if context.organisation
                    }
                ]
            },
            {
                "term": "Trading as:" if context.trading_as,
                "descriptions": [
                    {
                        "description": context.trading_as if context.trading_as
                    }
                ]
            },
            {
                "term": "Survey to complete:" if context.survey_name,
                "descriptions": [
                    {
                        "description": context.survey_name if context.survey_name
                    }
                ]
            }
        ]
    })
}}
