<div class="container">
    <header class="header">
        {% if config.GOOGLE_ANALYTICS %}
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config.GOOGLE_ANALYTICS }}', 'auto');
        ga('send', 'pageview');
        </script>
        {% endif %}
        <div class="logo header__logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Office for National Statistics"
                 class="logo__img"/>
        </div>

        {% if 'authorization' in request.cookies %}
        <a href="{{ url_for('sign_in_bp.logout') }}">Sign out</a>
        {% endif %}
    </header>
</div>
<div class="bar " role="banner">
    <div class="bar__inner container">
        <div class="ons-application-title bar__title venus">ONS Business Surveys</div>&nbsp;
    </div>
</div>
<div class="page__subheader"></div>
