[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
cfenv = "*"
flask = "*"
flask-wtf = "*"
wtforms = "*"
gunicorn = "*"
gevent = "*"
phonenumbers = "*"
pycrypto = "*"
python-jose = "*"
redis = "*"
requests = "*"
structlog = "*"
"iso8601" = "*"
sdc-cryptography = "*"
greenlet = "*"
dateutils = "*"
requestsdefaulter = "*"
flask-zipkin = "*"

[dev-packages]
codecov = "*"
coverage = "*"
"flake8" = "*"
oauthlib = "*"
pylint = "*"
pytest = "*"
requests-oauthlib = "*"
requests-mock = "*"
pylint-mccabe = "*"
pytest-cov = "*"
responses = "*"
