[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.11"

[packages]
flask = "*"
flask-wtf = "*"
wtforms = "*"
gunicorn = "*"
gevent = "*"
phonenumbers = "*"
redis = "*"
requests = "*"
structlog = "*"
iso8601 = "*"
cryptography = "*"
sdc-cryptography = "*"
greenlet = "*"
dateutils = "*"
requestsdefaulter = "*"
pycryptodome = "*"
flask-talisman = "*"
google-cloud-profiler = "*"
google-cloud-pubsub = "*"
google-cloud-storage = "*"
python-gnupg = "*"
werkzeug = "*"
fakeredis = "*"
email-validator = "*"
pyjwt = "*"

[dev-packages]
black = "*"
coverage= "*"
flake8 = "*"
isort = "*"
pytest = "*"
requests-mock = "*"
pytest-cov = "*"
responses = "*"
freezegun = "*"
beautifulsoup4 = "*"
djlint = "*"
