[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.8"

[packages]
flask = "*"
flask-wtf = "*"
wtforms = "*"
gunicorn = "*"
gevent = "*"
phonenumbers = "*"
python-jose = "*"
redis = "~=2.10"
requests = "*"
structlog = "*"
iso8601 = "*"
cryptography = "*"
sdc-cryptography = "*"
greenlet = "*"
dateutils = "*"
requestsdefaulter = "*"
flask-zipkin = "*"
pycryptodome = "*"
flask-talisman = "*"
email_validator = "*"
google-cloud-pubsub = "==1.7.0"

[dev-packages]
codecov = "*"
coverage = "*"
flake8 = "*"
pylint = "*"
pytest = "*"
requests-mock = "*"
pylint-mccabe = "*"
pytest-cov = "*"
responses = "*"
