flask
flask-wtf
wtforms
gunicorn
gevent
phonenumbers
python-jose
redis~=2.10
requests
structlog
iso8601
sdc-cryptography
greenlet
dateutils
requestsdefaulter
pycryptodome
flask-talisman
werkzeug~=0.16
email_validator
