flask
flask-wtf
wtforms
gunicorn
gevent
phonenumbers
python-jose
redis~=2.10
requests
structlog
iso8601
sdc-cryptography
greenlet
dateutils
requestsdefaulter
flask-zipkin
pycryptodome
flask-talisman
werkzeug~=0.16
email_validator

# dev-packages
codecov
coverage
flake8
pylint
pytest
requests-mock
pylint-mccabe
pytest-cov
responses
safety
