{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% set errorType = data['error']['type'] %}

{% block page_title %}Reset password{% endblock %}

{% block main %}

{% if errorType != None %}
    {% set errorNoMatchTitle = "Your passwords do not match" %}
    {% set errorNoMatchDescription = "Please check the passwords and try again" %}

    {% set errorStrongerPasswordTitle = "Your password doesn't meet the requirements" %}
    {% set errorStrongerPasswordDescription = "Please choose a different password" %}

    {% set errorCommonPasswordTitle = "Your password is too common" %}
    {% set errorCommonPasswordDescription = "Please choose a different password" %}

<div class="panel panel--error">
    <div class="panel__header">
        <h1 class="panel__title venus">
            {{ errorNoMatchTitle if errorType == "password-mismatch" }}
            {{ errorStrongerPasswordTitle if errorType == "stronger-password-required" }}
            {{ errorCommonPasswordTitle if errorType == "password-too-common" }}
        </h1>
    </div>
    <div class="panel__body" data-qa="error-body">
        <p class="mars">
            <a href="#reset-details" class="js-inpagelink">
                {{ errorNoMatchDescription if errorType == "password-mismatch" }}
                {{ errorStrongerPasswordDescription if errorType == "stronger-password-required" }}
                {{ errorCommonPasswordDescription if errorType == "password-too-common" }}
            </a>
        </p>
    </div>
</div>
<br />
{% endif %}

<form action="/reset-password/confirmation" class="form">

    <h1 class="saturn">Reset your password</h1>
    <p>Your password must have:</p>
    <ul>
        <li>at least 8 characters</li>
        <li>at least one capital letter</li>
        <li>at least one symbol (eg ?!£%)</li>
        <li>at least one number</li>
    </ul>

    <fieldset id="reset-details" class="js-new-password-group">
        {% if errorType != None %}
        <div class="panel panel--simple panel--error">
        {% endif %}
            <div class="field">
                <label class="label">New password</label>
                <input id="new-password" class="input input--text input-type__input js-new-password" value="" type="text" />
            </div>
            <br />

            <div class="field">
                <label class="label">Re-type new password</label>
                <input id="confirm-password" class="input input--text input-type__input js-confirm-new-password" value="" type="text" />
            </div>
        {% if error %}
        </div>
        {% endif %}
    </fieldset>
    <br />

    <button class="btn btn--primary venus" type="submit">Confirm</button>

    <p><a href="index.html">Cancel</a></p>

</form>
{% endblock main %}
