
.survey-list {
  list-style: none;
  padding-left: 0;
}

.survey-list .header-row {
  display: none;
  border-bottom: 2px solid #666;
  font-weight: bold;
}

.survey-list .card {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.survey-list .card .survey-list-item__nowrap {
  white-space: nowrap;
}

@media only screen and (min-width: 740px) {
  .survey-list .card .survey-list-item__label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.survey-list .card:hover {
  background-color: #f7f7f7;
}

.survey-list .action-button {
  text-align: center;
  padding: 10px;
}

a.btn {
  text-align: center;
}

@media only screen and (max-width: 740px) {
  .survey-list .action-button {
    width: 100%;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 740px) {
  .survey-list .header-row,
  .survey-list .header-row:hover {
    display: block;
    padding: 10px 0 0;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
}

.notification-badge {
  display: inline-block;
  min-width: 28px;
  padding: 0px 4px 0 3px;
  margin-left: 8px;
  border-radius: 16px;
  color: #fff;
  background: #4263c2;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.no-js .hide-if-no-js {
  display: none;
}
