.tab {
  text-decoration: none !important;
}

.tab--text {
  text-decoration: underline;
}

.tab--notification-badge {
  max-height: 28px;
  min-width: 28px;
  padding: 1px 10px 2px 9px;
  margin-left: 8px;
  border-radius: 16px;
  color: #fff;
  background: #4263c2;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

.ons-tab--row[aria-selected=true] .tab--text {
  text-decoration: none;
}

.ons-tab--row[aria-selected=true]:hover .tab--text {
  text-decoration: none;
}

.ons-tab--row:hover .tab--text {
  text-decoration: underline solid 2px;
}

.ons-tabs__list {
    width: 100%;
}

.ons-tabs__list--row::after {
    background: var(--ons-color-borders);
    bottom: 0;
    -webkit-box-shadow: 0 1px 0 0 var(--ons-color-page-light);
    box-shadow: 0 1px 0 0 var(--ons-color-page-light);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}