env: minikube
namespace: minikube
armorPolicy: "ras-cloud-armor-policy"

image:
  devRepo: eu.gcr.io/ons-rasrmbs-management
  name: eu.gcr.io/ons-rasrmbs-management
  tag: latest
  pullPolicy: Always

container:
  port: 9000
service:
  type: ClusterIP
  port: 9000

config: DevelopmentConfig

database:
  managedRedis: false

ingress:
  enabled: false
  surveysHost: surveys.example.com
  certNameSurveys: surveys-cert
  frontendConfigName: frontstage-frontend-config
  timeoutSec: 30

frontendConfig:
  sslPolicy: frontstage-ingress-ssl-policy

analytics:
  enabled: false

email:
  enabled: false
  expiry: "86400"
  templates:
    passwordChange: 7ba6b103-79d2-4ef1-be2e-979c127fa439

gcp:
  project: ras-rm-sandbox
  topic: ras-rm-notify-test
  seftUpload:
    project: ras-rm-sandbox
    topic: topic
    bucket:
      name: bucket
      prefix: ""

scheme: http

security:
  enabled: true
  sessionCookieSecure: false
  csrf:
    protected: true
    timeLimit: 7200

resources:
  requests:
    cpu: "150m"
    memory: "400Mi"
  limits:
    cpu: "300m"
    memory: "800Mi"

autoscaling: false
scaleAt:
  # These are expressed as a percentage of resources.requests, not resources.limits
  memoryPercentage: 150
  cpuPercentage: 200
replicas: 1
maxReplicas: 1
rollingUpdate:
  maxSurge: 1
  maxUnavailable: 1

eq:
  url: "http://localhost:8086/session?token="
  v3url: "http://localhost:8086/v3/session?token="

dns:
  enabled: false
  wellKnownPort: 8080

canary:
  enabled: false
  name: canary
  generate_errors: false

maintenancePage:
  enabled: false

gnu:
  recipient: dev@example.com
  fingerprint: ED1B7A3EADF95687

password:
  attemptTimeout: 86400

profiler:
  enabled: false