
{% extends "layouts/_block_content.html" %}
{% from "components/address-output/_macro.njk" import onsAddressOutput %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% set page_title = "Contact us" %}

{% set breadcrumbsData = [
    {
        "text": "Back",
        "url": "/sign-in/" if not authorization else request.referrer,
        "id": "b-item"
    }
] %}
{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    <h1 class="ons-u-fs-2xl">Contact us</h1>

    {% if authorization %}
        <h2>Message us</h2>
        <p>We will get back to you within 5 working days</p>
        <p><a id="contact_us" href="{{ url_for('contact_us_bp.send_message') }}">Send message</a>
     </p>
    {% else %}
         <h2>Email</h2>
         <p><a href="mailto:surveys@ons.gov.uk">surveys@ons.gov.uk</a></p>
    {% endif %}

    <h2>
        Phone
    </h2>
    <div class="ons-u-mb-xs">
        <p> +44 300 1234 931<br/>
            Monday to Thursday 8:30am to 5:00pm<br/>
            Friday 8:30am to 4:00pm</p>
    </div>
    <h2>
        Post
    </h2>
    {{
        onsAddressOutput({
            "unit": 'Office for National Statistics',
            "organisation": 'Government Buildings',
            "line1": 'Cardiff Road',
            "line2": 'Newport',
            "town": 'South Wales',
            "postcode": 'NP10 8XG'
        })
    }}

{% endblock main %}
