{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Contact us - ONS Business Surveys{% endblock %}

{% block main %}

    <h1 class="u-fs-l">Contact us</h1>
    
    <h2 class="neptune">
        Telephone
    </h2>
    <div class="u-fs-r">
        <p><a class="nowrap" href="tel:+44-300-1234-931">0300 1234 931</a></p>        
    </div>
    <div class="u-fs-r">
        <p class="u-mb-l">Opening hours:<br />
            Monday to Thursday 8:30am – 5pm<br/>
            Friday 8:30am - 4:30pm</p>
    </div>
    <h2 class="neptune">
        Post
    </h2>
    <div class="u-fs-r">
        <p>Office for National Statistics<br />
            Government Buildings<br />
            Cardiff Road<br />
            Newport<br />
            South Wales<br />
            NP10 8XG</p>
    </div>

{% endblock main %}
