{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% set errorType = data['error']['type'] %}

{% block page_title %}Sign in - ONS Business surveys{% endblock %}



{% block main %}
    <div class="top-pad">
        <form
            method="POST"
            action="{{ url_for('sign_in_bp.login') }}"
            role="form">

            {{ form.csrf_token}}
            <div class="form-group">{{ form.username.label }}: {{ form.username() }}</div>
            <div class="form-group">{{ form.password.label }}: {{ form.password() }}</div>
            <button type="submit" class="btn btn-default" id="login-btn">Sign in</button>
        </form>
    </div>
{% endblock main %}
