
{% extends "layouts/_block_content.html" %}
{% from "components/button/_macro.njk" import onsButton %}

{% set errorType = data['error']['type'] %}

{% set page_title = "Sign in" %}

{% block main %}
    <div class="top-pad">
        <form
            method="POST"
            action="{{ url_for('sign_in_bp.login') }}"
            role="form">

            {{ form.csrf_token}}
            <div class="form-group">{{ form.username.label }}: {{ form.username() }}</div>
            <div class="form-group">{{ form.password.label }}: {{ form.password() }}</div>

            {{
                onsButton({
                    "text": "Sign in",
                    "type": "submit",
                    "classes": "u-mt-l",
                    "id": "login_button",
                    "submitType": "timer"
                })
            }}
        </form>
    </div>
{% endblock main %}
