    {% if "subject" in errors or "body" in errors %}
        <div class="panel panel--error">
            <div class="panel__header">
                {% if errors|length == 1 %}

                <h1 class="panel__title venus">There is 1 error on this page</h1>

                {% elif errors|length > 1 %}
                <h1 class="panel__title venus">There are {{ errors|length }} errors on this page</h1>
                {% endif %}
            </div>
            <div class="panel__body" data-qa="error-body">
                {% if "subject" in errors %}
                <p class=“mars”>{{ errors['subject'][0] }}</p>
                {% endif %}
                {% if "body" in errors %}
                <p class=“mars”>{{ errors['body'][0] }}</p>
                {% endif %}
            </div>
        </div>
        <br/>
    {% endif %}