{% extends "layouts/_twothirds.html" %}

{% set page_title = "Privacy and data protection" %}

{% block main %}

                <h1 class="u-fs-xl">
                    Privacy and data protection
                </h1>

                <p>Your privacy is very important to us. We comply with confidentiality
                            requirements set out in the Statistics and Registration Service Act 2007 and
                            the Data Protection Act 1998.</p>
                                    <h2 class="u-fs-xl u-mt-l">
                        Privacy
                    </h2>

                    <div>
                        <p>Your privacy is very important to us. We comply with confidentiality
                            requirements set out in the Statistics and Registration Service Act 2007 and
                            the Data Protection Act 1998.</p>

                        <p>We can only use your information for research and statistical purposes. None
                            of your personal information is disclosed through our statistics.</p>

                    </div>

                    <h2 class="u-fs-xl u-mt-l">
                        Security
                    </h2>

                    <div>
                        <p>We ensure that the information you provide is kept safe and secure. We have
                            security measures in place to protect the loss, misuse and alteration of
                            information under our control.</p>

                        <p>We use leading security technologies such as industry-standard encryption
                            software. This service has been accredited in accordance with government
                            technical and security standards.</p>
                    </div>

{% endblock main %}
