{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "Share surveys overview" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    },
    {
        "text": "Share Surveys",
        "url": "/my-account/share-surveys",
        "id": "b-item-3"
    },
    {
        "text": "Select business",
        "url": "/my-account/share-surveys/business-selection",
        "id": "b-item-4"
    },
    {
        "text": "Select survey",
        "url": "/my-account/share-surveys/survey-selection",
        "id": "b-item-5"
    },
    {
        "text": "Enter email address",
        "url": "/my-account/share-surveys/recipient-email-address",
        "id": "b-item-6"
    }
] %}

{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    <h1 class="ons-u-fs-xl">Almost done</h1>
    <p>We have sent an email to the new person who will be responding to ONS surveys.</p>
    <p>They need to follow the link in the email to confirm their email address and finish setting up their account.</p>
    <p>Email not arrived? It may be in their junk folder.</p>
    <p>If it does not arrive in the next 15 minutes, please call 0300 1234 931.</p>

    <div class="ons-field ons-u-mt-l">
        <div class="ons-grid ons-grid-flex ons-grid--gutterless ons-grid-flex--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
            <div class="ons-grid__col">
                <a href="{{ url_for('account_bp.share_survey_done') }}" role="button" class="ons-btn ons-btn--link"><span class="ons-btn__inner">Back to surveys</span></a>
            </div>
        </div>
    </div>
{% endblock main %}
