{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/button/_macro.njk" import onsButton %}
{% set page_title = "Survey share business select" %}
{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": [{
                "text": "Back",
                "url": "/my-account/share-surveys",
                "id": "b-item"
            }]
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    {% set ns = namespace() %}
    {% set ns.optionErrorMessage = 'You need to choose a business' %}
    {% include "radio-option-select-error-panel.html" %}

    <h1>For which business do you want to share your surveys?</h1>
    {% set checkboxData = [] %}
    <form action="" method="post">
        {{ form.csrf_token }}
        {% if ns.optionError %}
            {% set errorOption = { "text": ns.optionErrorMessage,  "id": 'option_error' } %}
        {% endif %}
        {% set checkboxesData = {
            "id": "option",
            "legend": "Select all that apply",
            "name": "option",
            "error": errorOption,
        } %}
        {% for business in businesses %}
            {% do checkboxData.append(
                {
                    "id": business["business_id"],
                    "name": "checkbox-answer",
                    "label": {
                        "text": business["business_name"]
                    },
                    "value": business["business_id"]
                }
            ) %}
        {% endfor %}
        {% do checkboxesData | setAttribute("checkboxes", checkboxData) %}
        {{ onsCheckboxes(checkboxesData) }}

        <div class="ons-field ons-u-mt-l">
            {{
                onsButton({
                    "text": "Continue",
                    "submitType": "timer"
                })
            }}
            {{
                onsButton({
                    "url": url_for('account_bp.share_survey_overview'),
                    "text": 'Cancel',
                    "variants": 'secondary',
                    "noIcon": true
                })
            }}
        </div>
    </form>
{% endblock main %}
