{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "Share surveys overview" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    },
] %}

{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    <h1>Share access to your surveys</h1>
    {% call onsPanel({}) %}
        <p>
            If you no longer want access to the surveys once you share them, you should <a href="{{ url_for('account_bp.transfer_survey_overview') }}">transfer your surveys</a>.
        </p>
    {% endcall %}
    <h2 class="ons-u-fs-m ons-u-mt-m">What will happen</h2>
    <ul>
        <li>Select which surveys you want to share.</li>
        <li>Enter the email address of the person who will be responding to these surveys.</li>
        <li>We will email them the instructions to access the surveys.</li>
        <li>Once we confirm their access, they will be able to respond to surveys on your behalf and share access with colleagues.</li>
    </ul>

    <div class="ons-field ons-u-mt-l">
        <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
            <div class="ons-grid__col">
                <a href="{{ url_for('account_bp.share_survey_business_select') }}" role="button" class="ons-btn ons-btn--link ons-btn-group__btn"><span class="ons-btn_inner">Continue</span></a>
            </div>
            <div class="ons-grid__col ons-u-ml-m">
                <a href="{{ url_for('account_bp.get_account') }}">Cancel</a>
            </div>
        </div>
    </div>
{% endblock main %}
