{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "New respondents email address" %}

{% set breadcrumbsData = [
    {
        "text": "Back",
        "url": "/my-account/share-surveys/survey-selection",
        "id": "b-item-4"
    }
] %}

{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    {% if errors|length > 0 %}
        {% if errors|length == 1 %}
            {% set errorTitle = 'There is 1 error on this page' %}
        {% elif errors|length > 1 %}
            {% set errorTitle = 'There are ' ~ errors|length ~ ' errors on this page' %}
        {% endif %}
        {% call
            onsPanel({
                "variant": "error",
                "classes": "ons-u-mb-s",
                "title": errorTitle
            })
        %}
            {% set errorData = [] %}
            {% for error in errors %}
                {% set error_text =  error %}
                {% do errorData.append(
                    {
                        "text": 'Problem with the ' ~ error_text.replace('_', ' '),
                        "url": "#" ~ error ~ '_error',
                        "classes": "ons-js-inpagelink"
                    }
                ) %}
            {% endfor %}
            {{
                onsList({
                    "element": "ol",
                    "itemsList": errorData
                })
            }}
        {% endcall %}
    {% endif %}
    <div id="main_page_text">
        <h1 class="ons-u-mb-s">New respondents email address</h1>
        <p>We will send instructions to the email address that you provide.</p>
        <p class="ons-u-mb-m">Once we confirm the new respondents access, they will be able to respond to the surveys you have selected.</p>
    </div>
    {% set checkboxData = [] %}
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if errors.email_address %}
            {% set errorEmailAddress = { "text": errors['email_address'][0],  "id": 'email_address_error' } %}
            {% set emailAddress = form.email_address.data %}
        {% endif %}
        {{
            onsInput({
                "id": "email_address",
                "name": "email_address",
                "type": "text",
                "label": {
                    "text": "New respondents email address"
                },
                "error": errorEmailAddress,
                "value": emailAddress,
            })
        }}
        {% call onsPanel({
            "variant": "warn",
            "classes": "ons-u-mb-l"
            })
        %}
            Make sure you have permission to give us their email address.
        {% endcall %}
        <div class="ons-field ons-u-mt-l">
            {{
                onsButton({
                    "text": "Continue",
                    "submitType": "timer"
                })
            }}
        </div>
    </form>
{% endblock main %}
