{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/button/_macro.njk" import onsButton %}
{% set page_title = "Survey share email send instructions" %}
{% set breadcrumbsData = [
  {
    "text": "Surveys",
    "url": "/surveys/todo",
    "id": "b-item-1"
  },
  {
    "text": "Account",
    "url": "/my-account",
    "id": "b-item-2"
  },
  {
    "text": "Share Surveys",
    "url": "/my-account/share-surveys",
    "id": "b-item-3"
  },
  {
    "text": "Select business",
    "url": "/my-account/share-surveys/business-selection",
    "id": "b-item-4"
  },
 {
    "text": "Select survey",
    "url": "/my-account/share-surveys/survey-selection",
    "id": "b-item-5"
  },
 {
    "text": "Enter email address",
    "url": "/my-account/share-surveys/recipient-email-address"
  }
] %}

{% block breadcrumb %}
{{
    onsBreadcrumb({
        "ariaLabel": "Breadcrumbs",
        "id": "breadcrumbs",
        "itemsList": breadcrumbsData
    })
}}
{% endblock breadcrumb %}

{% block main %}
<h1 class="u-fs-xl">Send instructions</h1>
<p>We will send an email to <b>{{ email }}</b> with instructions to access the following surveys:</p>
<h2 class="u-fs-m">{{ business_name }}</h2>
{% if surveys|length > 0 %}
    <div class="text-indent">
        <ul class="list list--bare">
            {% for survey in surveys %}
                <li>{{ survey['longName'] }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<form action="" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="email_address" value="{{ email }}"/>
        <p class="field u-mt-l">
        <div class="btn-group">
        {{
            onsButton({
            "text": "Send email",
            "classes": 'btn-group__btn',
            "submitType": "timer"
            })
        }}
        <a href="{{ url_for('account_bp.share_survey_email_entry') }}"
      role="button" class="btn btn--link btn--secondary"><span class="btn__inner">Cancel</span></a>
        </div>
    </p>
</form>

{% endblock main %}
