{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set page_title = "Send instructions" %}

{% set breadcrumbsData = [
    {
        "text": "Back",
        "url": "/my-account/share-surveys/recipient-email-address"
    }
] %}

{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                    {% call onsPanel({
                        "variant": 'error',
                        "id": 'error-id',
                        "iconType": 'error',
                        "classes": 'ons-u-mb-m'
                    }) %}
                        <p class="ons-u-fs-r" id="flashed-error-message-{{ loop.index }}">{{ message }}</p>
                    {% endcall %}
                {% else %}
                    {% call onsPanel({
                        "variant": 'success',
                        "id": 'success-id',
                        "iconType": 'check',
                        "classes": 'ons-u-mb-m'
                    }) %}
                        <p class="ons-u-fs-r" id="flashed-message-{{ loop.index }}">{{ message }}</p>
                    {% endcall %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1 class="ons-u-fs-xl ons-u-mb-s">Send instructions</h1>
    <p>We will email a link with instructions to <a>{{ email }}</a>.</p>
    <p class="ons-u-mb-l">Once approved, they will have access to:</p>
    {% for business in share_dict %}
        <h2 class="ons-u-fs-m">Business: {{ share_dict[business].name }}</h2>
        {% if share_dict[business] | length > 0 %}{% set surveyList = [] %}
            {% for survey in share_dict[business].surveys %}
                {% do surveyList.append(
                    {
                        "text": survey['longName'],
                    }
                ) %}
            {% endfor %}
            {{
            onsList({
                "element": 'ul',
                "itemsList": surveyList,
                "classes": "ons-u-mb-l",
            })
        }}
        {% endif %}
    {% endfor %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="email_address" value="{{ email }}"/>
        <div class="ons-field">
            <div class="ons-btn-group">
                {{
                    onsButton({
                        "text": "Send email",
                        "submitType": "timer"
                    })
                }}
            </div>
        </div>
    </form>
{% endblock main %}
