{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "Share survey complete" %}

{% block main %}
    <h1 class="ons-u-fs-xl">Thank you</h1>
    <p>You are now able to access and return the shared surveys.</p>
    <p>The new surveys will now appear in your survey list.</p>

    <div class="ons-field ons-u-mt-l">
        <div class="ons-btn-group">
            <a href="{{ url_for('surveys_bp.get_survey_list', tag='todo') }}" role="button" class="ons-btn ons-btn--primary" id="btn-sign-in"><span class="ons-btn__inner">Back to surveys</span></a>
        </div>
    </div>
{% endblock main %}
