{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/button/_macro.njk" import onsButton %}
{% set page_title = "Surveys have been shared with you" %}
{% block main %}
<h1 class="u-fs-xl">Surveys have been shared with you</h1>
<p>You need to confirm the organisation and survey details to be able to access the surveys.</p>
{% for business in share_dict %}
<section class="u-mb-l">
<div  class="group">
    <dl class="grid">
            <div class="grid__col u-pt-no">
                <dt style="float: left; clear: left;" class="u-ml-no"><b>Organisation : </b></dt>
                <dd class="u-ml-no">{{ business }}</dd>
                <dt style="float: left; clear: left;" class="u-ml-no"><b>Trading as : </b></dt>
                <dd class="u-ml-no"> {{ share_dict[business]['trading_as'] }}</dd>
                <dt style="float: left; clear: left;" class="u-ml-no"><b>Surveys to complete : </b></dt>
            </div>
    </dl>
    <div class="text-indent">
                <ul class="list list--bare">
                    {% for survey in share_dict[business]['surveys'] %}
                        <li>{{ survey['longName'] }}</li>
                    {% endfor %}
                </ul>
    </div>
</div>
</section>
{% endfor %}
<p> If the organisation or survey details aren’t what you were expecting, please refer to the colleague ((originator_email_address)) who shared these with you. </p>
<p> If you do not accept access to the survey/s shared, you can ignore this request. </p>
<p> The invitation will expire after 72 hours. </p>
<p class="field u-mt-l">
        <div class="btn-group">
<a href="{{ url_for('account_bp.accept_share_surveys', batch=batch_no) }}"
      role="button" class="btn btn--primary" id="btn-accept-share-survey"><span class="btn__inner">Accept</span></a>
        </div>
    </p>

{% endblock main %}
