{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/lists/_macro.njk" import onsList %}
{% set page_title = "Survey share survey select" %}
{% set breadcrumbsData = [
  {
    "text": "Surveys",
    "url": "/surveys/todo",
    "id": "b-item-1"
  },
  {
    "text": "Account",
    "url": "/my-account",
    "id": "b-item-2"
  },
  {
    "text": "Share Surveys",
    "url": "/my-account/share-surveys",
    "id": "b-item-3"
  },
  {
    "text": "Select business",
    "url": "/my-account/share-surveys/business-selection",
    "id": "b-item-4"
  }
] %}
{% block breadcrumb %}
{{
    onsBreadcrumb({
        "ariaLabel": "Breadcrumbs",
        "id": "breadcrumbs",
        "itemsList": breadcrumbsData
    })
}}
{% endblock breadcrumb %}
{% block main %}
{% set ns = namespace (checkbox = 'true') %}
{% set ns.optionErrorMessage = 'You need to select a survey' %}
{% include "radio-option-select-error-panel.html" %}
{% if is_max_share_survey %}
    {% set ns.optionError = true %}
    {% set ns.optionErrorMessage = 'You have reached the maximum amount of emails you can enroll on one or more surveys.<br><br>
Deselect the survey/s to continue or call 0300 1234 931 to discuss your options.
' %}
    {% set errorTitle = 'There is 1 error on this page' %}
    {% set message = 'You have reached the maximum amount of emails you can enroll on one or more surveys' %}
                {% call
                    onsPanel({
                        "type": "error",
                        "classes": "u-mb-s",
                        "title":  errorTitle
                    })
                  %}
                  {{
                    onsList({
                        "element": "ol",
                        "itemsList": [
                        {
                            "text": message,
                            "url": "#option_error",
                            "classes": "js-inpagelink"
                        }
                        ]
                    })
                }}
                {% endcall %}
{% endif %}

<h1>Which surveys do you want to share?</h1>
{% set checkboxData = [] %}
<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if ns.optionError %}
                {% set errorOption = { "text": ns.optionErrorMessage,  "id": 'option_error' } %}
        {% endif %}
        {% set checkboxesData = {
            "legend": business_name,
            "checkboxesLabel": "Select all that apply",
            "error": errorOption,
        } %}
        {% for survey in surveys %}
              {% do checkboxData.append(
                  {
                    "id": survey['id'],
                    "name": "checkbox-answer",
                    "label": {
                        "text": survey['longName']
                    },
                    "value": survey['id']
                  }
                ) %}
            {% endfor %}
            {% do checkboxesData | setAttribute("checkboxes", checkboxData) %}
        {{ onsCheckboxes(checkboxesData) }}
        <p class="field u-mt-l">
        <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
            <div class="grid__col">
                {{
                    onsButton({
                    "text": "Continue",
                    "classes": 'btn btn-group__btn',
                    "submitType": "timer"
                    })
                }}
            </div>
            <div class="grid__col u-ml-m">
                <a href="{{ url_for('account_bp.share_survey_business_select') }}">Cancel</a>
            </div>
        </div>
    </p>
</form>

{% endblock main %}
