/**
 * Footer component
 */
.footer {
  padding: 2rem 0;
  background-color: #e4e8eb;
  color: #595959;

  a {
    &:focus {
      color: white;
    }
  }

  /**
   * Context modifier
   */
  .page > & {
    margin-top: 3rem;
  }
}
