<div class="container">
    <header class="header">
        <div class="logo header__logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Office for National Statistics" class="logo__img" />
        </div>
    </header>
</div>
<div class="bar " role="banner">
    <div class="bar__inner container">
        <div class="bar__title venus">ONS Business Surveys</div>&nbsp;
        <div class="badge badge--amber u-mr-xs">BETA</div>
    </div>
</div>
<div class="page__subheader"></div>
