
{% extends "layouts/_block_content.html" %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "Create an account" %}

{% block main %}
    <form
        method="post"
        action="{{ url_for('register_bp.register_activate_account') }}"
        role="form">
            <h1 class="ons-u-fs-xl">Activate your account</h1>
            {{ form.csrf_token }}

            <div class="ons-label__description ons-label__inner ons-u-fs-s">Thanks for confirming your email address</div>
            <br />
            <div class="ons-label__description ons-label__inner ons-u-fs-s">Please now activate your account</div>

            {{
                onsButton({
                    "text": "Activate account",
                    "type": "submit",
                    "classes": "ons-u-mt-l ons-u-mb-s",
                    "id": "activate_account_button",
                    "submitType": "timer"
                })
            }}
    </form>
{% endblock main %}
