{% import 'partials/section.html' as section %}
{% extends "layouts/_twothirds.html" %}

{% block page_title %}Confirm organisation and survey - ONS Business Surveys{% endblock %}

{% block main %}

<h1 class="u-fs-l">Confirm organisation and survey details</h1>

 {% include('partials/business_survey_credentials.html') %}

<br/>

<a id="confirm_button" href="{{ url_for('register_bp.register_enter_your_details', encrypted_enrolment_code=context.encrypted_enrolment_code) }}" class="btn u-mb-s">
    Confirm
</a>

<p>If the organisation or survey details aren't what you were expecting, please contact us on <a class="nowrap" href="tel:+44-300-1234-931">0300 1234 931</a>
    or send an <br/>
    email to <a href="mailto:surveys@ons.gov.uk">surveys@ons.gov.uk</a>
    </p>

{% endblock main %}
