
{% extends "layouts/_block_content.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/label/_macro.njk" import onsLabel %}
{% set page_title = "Pending survey enter account details" %}

{% block main %}
    {% if errors|length > 0 %}
        {% if errors|length == 1 %}
            {% set errorTitle = 'There is 1 error on this page' %}
        {% elif errors|length > 1 %}
            {% set errorTitle = 'There are ' ~ errors|length ~ ' errors on this page' %}
        {% endif %}
        {% call
            onsPanel({
                "type": "error",
                "classes": "ons-u-mb-s",
                "title": errorTitle
            })
        %}
            <p>These <strong>must be corrected</strong> to continue.</p>
            {% set errorData = [] %}
            {% for error in errors %}
                {% set error_text = 'passwords' if error == 'password' else error %}
                {% do errorData.append(
                    {
                        "text": 'Problem with the ' ~ error_text.replace('_', ' '),
                        "url": "#" ~ error ~ '_error',
                        "classes": "ons-js-inpagelink"
                    }
                ) %}
            {% endfor %}
            {{
                onsList({
                    "element": "ol",
                    "itemsList": errorData
                })
            }}
        {% endcall %}
    {% endif %}
        <form
            method="post"
            role="form"
            onsubmit="formSubmitted(event);">
            {{ form.csrf_token }}

        <h1 class="ons-u-fs-xl">Create an account</h1>
        <p>Enter your account details for <strong>{{ email }}</strong>.</p>
        {{ form.email }}
        {{ form.batch_no }}
        {{ form.is_transfer }}
        <h2>Your name</h2>

        {%- call onsFieldset({
            "legend": "Your name",
            "legendClasses": "ons-u-vh"
        }) -%}
            {% if errors.first_name %}
                {% set errorFirstName = { "text": errors['first_name'][0],  "id": 'first_name_error' } %}
            {% endif %}
            {{
                onsInput({
                    "id": "first_name",
                    "name": "first_name",
                    "type": "text",
                    "label": {
                        "text": "First name"
                    },
                    "error": errorFirstName,
                    "value": form.first_name.data
                })
            }}
            {% if errors.last_name %}
                {% set errorLastName = { "text": errors['last_name'][0],  "id": 'last_name_error' } %}
            {% endif %}
            {{
                onsInput({
                    "id": "last_name",
                    "name": "last_name",
                    "type": "text",
                    "label": {
                        "text": "Last name"
                    },
                    "error": errorLastName,
                    "value": form.last_name.data
                })
            }}
        {% endcall %}
        <h2 class="ons-u-mt-l">Create a password</h2>
        <p>Your password must have:</p>
        {{
            onsList({
                "itemsList": [
                    {
                        "text": 'at least 12 characters'
                    },
                    {
                        "text": 'at least one symbol (eg ?!£%)'
                    },
                    {
                        "text": 'at least one capital letter'
                    },
                    {
                        "text": 'at least one number'
                    }
                ]
            })
        }}
        {%- call onsFieldset({
            "legend": "Create a password",
            "legendClasses": "ons-u-vh"
        }) -%}
            {% if errors.password %}
                {% set errorPassword = { "text": errors['password'][0],  "id": 'password_error' } %}
            {% endif %}
            {{
                onsPassword({
                    "id": "password",
                    "name": "password",
                    "type": "text",
                    "label": {
                        "text": "Password"
                    },
                    "showPasswordText": "Show password",
                    "error": errorPassword
                })
            }}
            {{
                onsPassword({
                    "id": "password_confirm",
                    "name": "password_confirm",
                    "type": "text",
                    "label": {
                        "text": "Re-type your password"
                    },
                    "showPasswordText": "Show password",
                    "error": errorPassword
                })
            }}

        {% endcall %}
        
        <h2 class="ons-u-mt-l">Contact telephone number</h2>
        <p>We'll use this number if we need to discuss any survey information provided</p>
        {%- call onsFieldset({
            "legend": "Create a password",
            "legendClasses": "ons-u-vh"
        }) -%}
            {% if errors.phone_number %}
                {% set errorPhoneNumber = { "text": errors['phone_number'][0],  "id": 'phone_number_error' } %}
            {% endif %}
            {{
                onsInput({
                    "id": "phone_number",
                    "name": "phone_number",
                    "type": "tel",
                    "autocomplete": "tel",
                    "classes": "input--w-8",
                    "label": {
                        "text": "Telephone number",
                        "description": "For international numbers include the country code, for example +33 1234 567 890"
                    },
                    "error": errorPhoneNumber,
                    "value": form.phone_number.data
                })
            }}
        {% endcall %}
        <h3 class="ons-u-mt-l">Privacy notice</h3>
            <p>Your user account will be deleted after 36 months of inactivity</p>
        {{
            onsButton({
                "text": "Continue",
                "type": "submit",
                "classes": "ons-u-mt-l ons-u-mb-s",
                "id": "continue_button",
                "submitType": "timer"
            })
        }}

    </form>

    <script{% if csp_nonce %} nonce="{{ csp_nonce() }}"{% endif %}>
    var submitted = false;
    function formSubmitted(event) {
        if (submitted) {
            event.preventDefault();
            return false;
        }
        submitted = true;
    }
    </script>
{% endblock main %}
