{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Create an account - ONS Business Surveys{% endblock %}

{% block main %}
    <form
            method="post"
            action="{{ url_for('register_bp.register_activate_account') }}"
            class="form"
            role="form">
        <h1 class="u-fs-l">Activate your account</h1>
        {{ form.csrf_token }}

        <div class="label__description label__inner u-fs-s">Thanks for confirming your email address</div>

        <br />

        <div class="label__description label__inner u-fs-s">Please now activate your account</div>

        <br />
        <br />

        <button class="btn btn--secondary u-fs-r--b" id="activate_account_button" type="submit">Activate account</button>

    </form>
{% endblock main %}
