{% extends 'layouts/_twothirds.html' %}
{% from "components/button/_macro.njk" import onsButton %}

{% set errorType = data['error']['type'] %}
{% set errors = form['errors'] %}

{% set page_title = "Create an account" %}

{% block main %}

{% if errorType == "failed" %}
    {% with panel_title='Enrolment code not valid', forcus_on='enrolment_code', context='#enrolment_code',
    error_message='Please re-enter the code and try again' %}
        {% include './errors/validation_error.html' %}
    {%  endwith %}
{% elif errors %}
    {% with panel_title='Enrolment code not valid', focus_on='enrolment_code', context='#enrolment_code',
    error_message=errors.enrolment_code[0] %}
        {% include './errors/validation_error.html' %}
    {%  endwith %}
{% endif %}

<section>

    <form
            method="post"
            action="{{ url_for('register_bp.register') }}"
            class="form"
            role="form">
        {{ form.csrf_token }}

        <h1 class="u-fs-l">Create an account</h1>

        {% if errorType == "failed" or errors|length > 0 %}
        <div class="panel panel--simple panel--error panel--spacious">
            <p class="error-message">Please enter a valid enrolment code</p>
        {% endif %}

            <div class="field">

                {{ form.enrolment_code.label(class_='label') }}

                <span class="label__description label__inner u-fs-s">You'll find this in the letter we sent you</span>
                {{ form.enrolment_code(class_='input input--text input-type__input') }}
            </div>

        {% if errorType == "failed" or errors|length > 0 %}
        </div>
        {% endif %}
        {{
            onsButton({
                "text": "Send reset link",
                "type": "submit",
                "classes": "u-mt-l u-mb-s",
                "id": "continue_button",
                "submitType": "timer"
            })
        }}        
    </form>

</section>


{% endblock main %}
