{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Check your email - ONS Business Surveys{% endblock %}

{% block main %}
    <h1 class="saturn">Almost done...</h1>
    <p id="email_confirmation_sent">We've sent an email to {{ email }}</p>
    <p>Please follow the link in the email to confirm your email address and finish setting up your account.</p>
    <div class="guidance js-details"
        data-guidance-label="guidance-help-with-email"
        data-guidance="Guidance help with email"
        data-hide-label="Hide help with email"
        data-show-label="Show help with email">

        <a class="guidance__link js-details-trigger js-details-label icon--details mars"
        id="guidance-help-with-email"
        data-guidance-trigger="true"
        aria-expanded="false"
        href="#guidance-help-with-email"
        aria-controls="guidance-help-with-email">Help with email</a>

        <div class="guidance__main js-details-body" id="guidance-help-with-email-body" aria-hidden="true">
            <div class="guidance__content mars">
                <div>
                    <p>Email not arrived? It might be in your spam folder.</p>
                    <p>If it doesn’t arrive in the next 15 minutes, please call <a href="tel:03001234931">0300 1234 931</a></p>
                </div>
            </div>
        </div>

    </div>
{% endblock main %}
