$responsive: false;
$grid-max-width: 800px;

$s: './static/s';

/**
 * Boilerplate
 */
@import "partials/helpers/functions";
@import "partials/helpers/mixins";
@import "partials/helpers/mq";

@import "partials/vars/colors";
@import "partials/vars/forms";
@import "partials/vars/grid";
@import "partials/vars/typography";
@import "partials/vars/vars";

@import "partials/vendor/normalize";

@import "partials/base/global";
@import "partials/base/typography";
@import "partials/base/forms";


/**
 * Structure/layout
 */
@import "partials/objects/container";
//@import "partials/objects/footer";
//@import "partials/objects/grid";
//@import "partials/objects/group";
//@import "partials/objects/list";
@import "partials/objects/page";
//@import "partials/objects/section";
@import "partials/objects/type-scale";


/**
 * Components
 */
/*@import "partials/components/badge";
@import "partials/components/bar";
@import "partials/components/buttons";
@import "partials/components/field";
@import "partials/components/guidance";
@import "partials/components/header";
@import "partials/components/input";
@import "partials/components/input-type";
@import "partials/components/label";
@import "partials/components/logo";
@import "partials/components/panel";
@import "partials/components/skip";*/

@import "components/badge/badge";
@import "components/bar/bar";
@import "components/button/buttons";
@import "components/header/header";
@import "components/panel/panel";
@import "components/skip";

@import "components/03-grid/grid";
@import "components/footer/footer";
@import "components/list/list";


/**
 * Missing in pattern library
 */
@import "../../../../common/assets/styles/partials/objects/section";
@import "../../../../common/assets/styles/partials/components/field";
@import "../../../../common/assets/styles/partials/components/guidance";
@import "../../../../common/assets/styles/partials/components/input";
@import "../../../../common/assets/styles/partials/components/label";
@import "../../../../common/assets/styles/partials/components/logo";

// To delete
//@import "../components/input-type/input-type";


@import "./common-overrides";
