.message-list {
  padding-left : 0;
  list-style-type : none;

  > .message-list__item {
    margin-bottom : 0;
    padding-bottom : 1rem;
    border-bottom : 1px solid #ccc;

    + .message-list__item {
      padding-top : 1rem;
    }
  }
}
