.table {

  &.table--dense {
    font-size: 81.25%;
  }

  .table__cell {
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 12pt;
    text-align: left;
    vertical-align: top;
  }

  .table__row {
    border-bottom: 1px solid #ccc;
  }

  .table__header-cell {
    padding: 0.5rem 0 0.25rem 1rem;
    font-size: 12pt;
    text-align: left;
    border-bottom: 2px solid #666;

    &.table__header-cell--align {
      text-align: left;
    }
  }
}
