{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}

{% set page_title = "Transfer surveys overview" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    },
] %}

{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    <h1>Transfer your surveys</h1>
    {% call onsPanel({}) %}
        <p>
            You will no longer have access to the surveys you transfer. If you still require access to your surveys, you can <a href="{{ url_for('account_bp.share_survey_overview') }}">share access instead</a>.
        </p>
    {% endcall %}
    <h2 class="ons-u-fs-m ons-u-mt-m">What will happen</h2>
    {{
        onsList({
            "itemsList": [
                {
                    "text": 'Select which surveys you want to transfer.'
                },
                {
                    "text": 'Enter the email address of the person who will be responding to these surveys.'
                },
                {
                    "text": 'We will email them the instructions to access the surveys.'
                },
                {
                    "text": 'Once we confirm their access, they will be able to respond to the surveys and share access with their colleagues.'
                }
            ]
        })
    }}

    <div class="ons-field ons-u-mt-l">
        {{
            onsButton({
                "text": "Continue",
                "url": url_for('account_bp.transfer_survey_business_select'),
                "noIcon": true
            })
        }}
        {{
            onsButton({
                "url": url_for('account_bp.account'),
                "text": 'Cancel',
                "variants": 'secondary',
                "noIcon": true
            })
        }}
    </div>

{% endblock main %}
