{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/button/_macro.njk" import onsButton %}
{% set page_title = "Survey transfer email entry" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    },
    {
        "text": "Transfer Surveys",
        "url": "/my-account/transfer-surveys",
        "id": "b-item-3"
    },
    {
        "text": "Select business",
        "url": "/my-account/transfer-surveys/business-selection",
        "id": "b-item-4"
    },
    {
        "text": "Select survey",
        "url": "/my-account/transfer-surveys/survey-selection",
        "id": "b-item-5"
    }
] %}

{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    {% if errors|length > 0 %}
            {% if errors|length == 1 %}
                {% set errorTitle = 'There is 1 error on this page' %}
            {% elif errors|length > 1 %}
                {% set errorTitle = 'There are ' ~ errors|length ~ ' errors on this page' %}
            {% endif %}
            {% call
                onsPanel({
                    "type": "error",
                    "classes": "ons-u-mb-s",
                    "title": errorTitle
                })
            %}
                {% set errorData = [] %}
                {% for error in errors %}
                    {% set error_text =  error %}
                    {% do errorData.append(
                        {
                            "text": 'Problem with the ' ~ error_text.replace('_', ' '),
                            "url": "#" ~ error ~ '_error',
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {{
                    onsList({
                        "element": "ol",
                        "itemsList": errorData
                    })
                }}
            {% endcall %}
        {% endif %}

    <h1>Enter recipient's email address</h1>
    <p>We need the email address of the person who will be responding to the surveys.</p>
    {% set checkboxData = [] %}
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{
            onsPanel({
                "body": '<p>Make sure you have their permission to give us their email address.</p>'
            })
        }}
        {% if errors.email_address %}
            {% set errorEmailAddress = { "text": errors['email_address'][0],  "id": 'email_address_error' } %}
            {% set emailAddress = form.email_address.data %}
        {% endif %}
        {{
            onsInput({
                "id": "email_address",
                "name": "email_address",
                "type": "text",
                "label": {
                    "text": "Recipient's email address"
                },
                "error": errorEmailAddress,
                "value": emailAddress,
            })
        }}
        <div class="ons-field ons-u-mt-l">
            {{
                onsButton({
                    "text": "Continue",
                    "submitType": "timer"
                })
            }}
            {{
                onsButton({
                    "url": url_for('account_bp.transfer_survey_survey_select'),
                    "text": 'Cancel',
                    "variants": 'secondary',
                    "noIcon": true
                })
            }}
        </div>
    </form>
{% endblock main %}
