{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/button/_macro.njk" import onsButton %}
{% set page_title = "Confirm transfer survey access" %}
{% block main %}
<h1 class="u-fs-xl">Confirm survey access</h1>
<p>Your colleague <b>{{ transferred_by }}</b> wants to transfer access for the following surveys to you.</p>
<p> You need to check the details are correct and then confirm access.</p>
{% for business in transfer_dict %}
<section class="u-mt-l u-mb-l">
    <h2 class="u-fs-m u-mb-xs">{{ business }}</h2>
    <p class="u-mb-s">Trading as {{ transfer_dict[business]['trading_as'] }}</p>
    <div class="text-indent">
        <ul class="list list--bare">
            {% for survey in transfer_dict[business]['surveys'] %}
                <li>{{ survey['longName'] }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endfor %}
<p>If there is an error please refer to the colleague who transferred access.</p>
<p>If you ignore this request the invitation will expire after 72 hours.</p>

<p class="field u-mt-l">
    <div class="btn-group">
        <a href="{{ url_for('account_bp.accept_transfer_surveys', batch=batch_no) }}" role="button" class="btn btn--primary" id="btn-accept-share-survey"><span class="btn__inner">Confirm access</span></a>
    </div>
</p>

{% endblock main %}
