{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/lists/_macro.njk" import onsList %}
{% set page_title = "Survey transfer survey select" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    },
    {
        "text": "Transfer Surveys",
        "url": "/my-account/transfer-surveys",
        "id": "b-item-3"
    },
    {
        "text": "Select business",
        "url": "/my-account/transfer-surveys/business-selection",
        "id": "b-item-4"
    }
] %}
{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    {% set ns = namespace (businesses = []) %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% if messages|length == 1 %}
                {% set errorTitle = 'There is 1 error on this page' %}
            {% elif messages|length > 1 %}
                {% set errorTitle = 'There are ' ~ messages|length ~ ' errors on this page' %}
            {% endif %}
            {% call
                onsPanel({
                    "type": "error",
                    "classes": "ons-u-mb-s",
                    "title": errorTitle
                })
            %}
                {% set errorData = [] %}
                {% for category, message in messages %}
                    {% do ns.businesses.append(category) %}
                    {% do errorData.append(
                        {
                            "text": message,
                            "url": "#option_error_"~category,
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {{
                    onsList({
                        "element": "ol",
                        "itemsList": errorData
                    })
                }}
            {% endcall %}
        {% endif %}
    {% endwith %}

    <h1>Which surveys do you want to transfer?</h1>
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% for business in transfer_dict %}
            {% set checkboxData = [] %}
            {% if error == 'surveys_not_selected' and business in ns.businesses %}
                {% set errorOption = { "text": 'You need to select a survey',  "id": 'option_error_'~business } %}
            {% endif %}
            {% if error == 'max_transfer_survey_exceeded' and business in ns.businesses %}
                {% set errorOption = { "text": 'You have reached the maximum amount of emails you can enroll on one or more surveys.<br/><br/>
            Deselect the survey/s to continue or call 0300 1234 931 to discuss your options.',  "id": 'option_error_'~business } %}
            {% endif %}
            {% set checkboxesData = {
                "legend": transfer_dict[business].name,
                "checkboxesLabel": "Select all that apply",
                "error": errorOption,
            } %}
            {% for survey in transfer_dict[business].surveys %}
                {% if survey['id'] in failed_surveys_list %}
                    {% set params = 'input--error' %}
                {% else %}
                    {% set params = '' %}
                {% endif %}
                {% if survey['id'] in selected_survey_list %}
                    {% set checked = true %}
                {% else %}
                    {% set checked = false %}
                {% endif %}
                {% do checkboxData.append(
                    {
                        "id": survey['id'],
                        "name": business,
                        "label": {
                            "text": survey['longName']
                        },
                        "value": survey['id'],
                        "classes": params,
                        "checked": checked
                    }
                    ) %}
                {% endfor %}
                {% do checkboxesData | setAttribute("checkboxes", checkboxData) %}
            {{ onsCheckboxes(checkboxesData) }}
        {% endfor %}
        <div class="ons-field ons-u-mt-l">
            {{
                onsButton({
                    "text": "Continue",
                    "submitType": "timer"
                })
            }}
            {{
                onsButton({
                    "url": url_for('account_bp.transfer_survey_business_select'),
                    "text": 'Cancel',
                    "variants": 'secondary',
                    "noIcon": true
                })
            }}
        </div>
    </form>
{% endblock main %}
