{% extends 'layouts/_base.html' %}
{% from "components/list/_macro.njk" import onsList %}

{% set page_title = "Surveys to complete" %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                    {% call onsPanel({
                        "variant": 'error',
                        "id": 'error-id',
                        "iconType": 'lock',
                        "classes": 'ons-u-mb-m'
                    }) %}
                        <p class="ons-u-fs-r" id="flashed-error-message-{{ loop.index }}">{{ message }}</p>
                    {% endcall %}
                {% else %}
                    {% call onsPanel({
                        "variant": 'success',
                        "id": 'success-id',
                        "iconType": 'check',
                        "classes": 'ons-u-mb-m'
                    }) %}
                        <p class="ons-u-fs-r" id="flashed-message-{{ loop.index }}">{{ message }}</p>
                    {% endcall %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% include "partials/tab_list.html" %}

    {% if added_survey %}
        {% call onsPanel({
            "variant": "success",
            "classes": "ons-u-mb-s"
        }) %}
                Your <a id="NEW_SURVEY_NOTIF" href="#new-survey">new survey</a> has been added.
        {% endcall %}
    {% endif %}

    {% if already_enrolled %}
        {% call onsPanel({
            "classes": "ons-u-mb-s"
        }) %}
                <div id="ALREADY_ADDED_NOTIF">You have already added that <a href="#new-survey">survey</a> </div>
        {% endcall %}
    {% endif %}

    {% if survey_shared %}
        {% call onsPanel({
            "variant": "success",
            "classes": "ons-u-mb-s",
            "iconType": 'check',
        }) %}
                An email with instructions has been sent
    {% endcall %}
    {% endif %}
    {% if transferred_surveys %}
        {% call onsPanel({
            "spacious": true,
            "id": 'transferred-id',
            "classes": 'ons-u-mb-m'
        }) %}
            <p>You have requested a transfer of the following surveys: </p>

            {% for business in transferred_surveys %}
                <p>Organisation: {{ transferred_surveys[business].name }}</p>
                <div>
                    {% set surveyList = [] %}
                    {% for survey in transferred_surveys[business].surveys %}
                        {% do surveyList.append(
                            {
                                "text": survey['longName']
                            }
                        )
                    %}
                    {% endfor %}
                    {{
                        onsList({
                            "element": 'ul',
                            "classes": "ons-u-mb-l",
                            "itemsList": surveyList
                        })
                    }}
                </div>
            {% endfor %}
            <p>They will be removed from your account once the new respondents has accepted</p>
        {% endcall %}
    {% endif %}
    {% if delete_option_allowed %}
        {{
            onsPanel({
                "body": '<p>There are no surveys registered to your account. If you wish to delete your account <a href="/my-account/delete">click here</a>.</p>'
                })
        }}
    {% endif %}

    <p class="ons-u-fs-r ons-u-mt-s ons-u-mb-l">
        Click on the survey name to complete your questionnaire.
    </p>

    {% set emptySurveyListLabel = 'You have no surveys to complete' %}
    {% include "surveys/surveys.html" %}
    <p class="ons-u-fs-r ons-u-mt-s ons-u-mb-l">
        Need to add a new survey? Use your enrolment code to <a id="add_survey_button" href="{{ url_for('surveys_bp.add_survey') }}">add a new survey to your account</a>.
    </p>
{% endblock content %}
