{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}Completed surveys - ONS Business Surveys{% endblock %}

{% block main %}

              <section>
                <form id="enrolment-code" action="{{ url_for('surveys_bp.survey_enrolment_failure') }}" class="form">

                  <h1 class="saturn">Add a survey</h1>

                  <div class="field">
                    <label class="label">Enrolment code</label>
                    <span class="label__description label__inner pluto">You'll find this in the letter we sent you</span>
                    <input class="input input--text input-type__input" required type="text">
                  </div>

                  <button class="btn btn--primary venus u-mt-s" type="submit">Continue</button>
                  <p>
                    <a href="{{ url_for('surveys_bp.logged_in') }}">Cancel</a>
                  </p>
                </form>
              </section>

{% endblock main %}