{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "survey link has expired" %}

{% block main %}
    {% if is_transfer %}
        <h1 class="ons-u-fs-xl">Transferred survey link has expired</h1>
        <p>This link has expired.</p>
        <p>If you still need access to the surveys, you should ask your colleague to transfer the surveys again.</p>
    {% else %}
        <h1 class="ons-u-fs-xl">Shared survey link has expired</h1>
        <p>This link has expired.</p>
        <p>If you still need access to the surveys, you should ask your colleague to share the surveys again.</p>
    {% endif %}
{% endblock main %}