{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}{{ survey_info.longName }} {{ collection_exercise_info.userDescription }} - ONS Business Surveys{% endblock %}

{% block main %}

<div>
    {% if 'history' in referer_header %}
        <a href="{{ url_for('surveys_bp.get_survey_list', tag='history') }}">Back</a>
    {% else %}
        <a href="{{ url_for('surveys_bp.get_survey_list', tag='todo') }}">Back</a>
    {% endif %}
</div>

<br/>

<h1 class="u-fs-l">{{ survey_info.longName }}</h1>

<h2 class="neptune">Download</h2>


<p>
    {{ survey_info.shortName }} spreadsheet for <strong>{{ business_info.name }}</strong>
    for the period {{ collection_exercise_info.userDescription }}
</p>

<p>If actual figures are not available, please provide informed estimates.</p>


<a id="download_survey_button" class="btn" target="_blank"
   href="{{ url_for('surveys_bp.download_survey', case_id=case_id, business_party_id=business_info.id, survey_short_name=survey_info.shortName) }}"
   onclick="ga('send', 'event', 'survey', 'download', 'survey_ref = {{ survey_info.surveyRef }} collection_exercise_ref = {{ collection_exercise_info.exerciseRef }}');" >

    <div>
        <span class="download__text">Download spreadsheet&nbsp;&nbsp;&nbsp;</span>
        <span class="download__text"><i class="fa fa-download fa-lg" aria-hidden="true"></i></span>
    </div>
    <div class="download__text u-fs-s">({{ collection_instrument_size | file_size_filter }} kb XLS)</div>
</a>

<br/>
<br/>

<h2 class="neptune">Upload your spreadsheet</h2>
{% if collection_exercise_info.scheduledReturnDateTimeFormatted %}
<p>Please upload by <strong>{{ collection_exercise_info.scheduledReturnDateTimeFormatted }}</strong></p>
{% endif %}

<div class="guidance js-details upload-guidance"
     data-guidance-label="Guidance for uploading"
     data-guidance="Guidance for uploading"
     data-hide-label="Hide guidance for uploading"
     data-show-label="Show guidance for uploading">

    <a class="guidance__link js-details-trigger js-details-label icon--details u-fs-r"
       id="guidance-for-uploading"
       data-guidance-trigger="true"
       aria-expanded="false"
       href="#guidance-for-uploading"
       aria-controls="guidance-for-uploading-body">Show guidance for uploading</a>

    <div class="guidance__main js-details-body" id="guidance-for-uploading-body" aria-hidden="true">
        <div class="guidance__content u-fs-r">
            <div>
                <p>Your file needs to be:</p>
                <ul>
                    <li>.xls or .xlsx format</li>
                    <li>smaller than 20MB</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<br/>

<p class="u-fs-r--b icon--lock">We will treat your data securely and confidentially</p>

{% include "surveys/surveys-upload-file-picker.html" %}


{% endblock main %}
