
{% extends "layouts/_twothirds.html" %}
{% from "components/button/_macro.njk" import onsButton %}

{% set errorType = data['error']['type'] %}

{% block page_title %}Completed surveys - ONS Business Surveys{% endblock %}

{% block content %}

{% if errorType == "failed" %}
<div class="panel panel--error">
    <div class="panel__header">
        <h1 id="error_notification" class="panel__title u-fs-r--b">Enrolment code not valid</h1>
    </div>
    <div class="panel__body" data-qa="error-body">
        <p class="u-fs-r"><a onclick="focusOn('enrolment_code');" href="#enrolment_code">Please re-enter the code and try again</a></p>
    </div>
</div>
<br/>
{% endif %}

<section>
    <form id="enrolment-code"
          action="{{ url_for('surveys_bp.add_survey') }}"
          method="POST"
          class="form">
        {{ form.csrf_token }}

        <h1 class="u-fs-l">Add a survey</h1>

        {% if errorType == "failed" %}
        <div class="panel panel--simple panel--error panel--spacious">
            <p class="error-message">Please enter a valid enrolment code</p>
            {% endif %}

            <div class="field">

                {{ form.enrolment_code.label(class_='label') }}

                <span class="label__description label__inner u-fs-s">You'll find this in the letter we sent you</span>
                {{ form.enrolment_code(id="ENROLEMENT_CODE_FIELD", class='input input--text input-type__input') }}
            </div>

            {% if errorType == "failed" %}
        </div>
        {% endif %}
        {{
            onsButton({
                "text": "Continue",
                "type": "submit",
                "classes": "u-mt-l u-mb-s",
                "id": "continue_button",
                "submitType": "timer"
            })
        }}        

        <p>
            <a id="cancel_button" href="{{ url_for('surveys_bp.get_survey_list', tag='todo') }}">Cancel</a>
        </p>

    </form>
</section>

{% endblock content %}