{% extends 'layouts/_base.html' %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/list/_macro.njk" import onsList %}

{% set page_title = survey_info.longName ~ ' ' ~ collection_exercise_info.userDescription %}

{% block content %}

<div>
    {% if 'history' in referer_header %}
        <a href="{{ url_for('surveys_bp.get_survey_list', tag='history') }}">Back</a>
    {% else %}
        <a href="{{ url_for('surveys_bp.get_survey_list', tag='todo') }}">Back</a>
    {% endif %}
</div>

<br/>

<h1 class="ons-u-fs-xl">{{ survey_info.longName }}</h1>

<h2>Download</h2>

<p>
    {{ survey_info.shortName }} spreadsheet for <strong>{{ business_info.name }}</strong>
</p>

<p>Please download the correct spreadsheet for the period {{ collection_exercise_info.userDescription }} by using the "Download spreadsheet" button.</p>

<p>If actual figures are not available, please provide informed estimates.</p>

<p><b>Do not use an older version as we will not be able to process your data.</b></p>

{{
    onsButton({
        "url": url_for('surveys_bp.download_survey', case_id=case_id, business_party_id=business_info.id, survey_short_name=survey_info.shortName),
        "text": 'Download spreadsheet<div class="ons-u-fs-s">(' ~ collection_instrument_size | file_size_filter ~ ' kb XLS)</div>',
        "type": "submit",
        "hideCaret": true,
        "classes": "ons-u-mt-s ons-u-mb-s",
        "id": "download_survey_button",
        "submitType": "timer",
        "attributes": {
            "onclick": "ga('send', 'event', 'survey', 'download', 'survey_ref = " ~ survey_info.surveyRef ~ " collection_exercise_ref = " ~ collection_exercise_info.exerciseRef ~ "');"
        }
    })
}}
<hr/>
<h2 class="ons-u-mt-m">Upload your spreadsheet</h2>
{% if collection_exercise_info.scheduledReturnDateTimeFormatted %}
<p>Please upload by <strong>{{ collection_exercise_info.scheduledReturnDateTimeFormatted }}</strong></p>
{% endif %}

 {% call onsDetails({
    "id": "collapsible",
    "classes": "ons-u-mb-m",
    "title": "Guidance for uploading",
    "button": {
        "close": "Hide this",
        "contextSuffix": "content"
    }
}) %}
    <h3 class="ons-u-mb-s">Your file needs to be:</h3>
    {{
        onsList({
            "itemsList": [
                {
                    "text": '.xls or .xlsx format'
                },
                {
                    "text": 'smaller than 20MB'
                }
            ]
        })
    }}
{% endcall %}
<p class="ons-u-fs-r--b icon--lock">We will treat your data securely and confidentially</p>

<p>Please upload the correct version of the file for the period {{ collection_exercise_info.userDescription }}.</p>

<p><b>Do not upload an older version as we will not be able to process your data.</b></p>

{% include "surveys/surveys-upload-file-picker.html" %}

{% endblock content %}
