{% from "components/button/_macro.njk" import onsButton %}
{% from "components/table/_macro.njk" import onsTable %}

{% set surveyTableData = {
    "table_class": 'table--responsive',
    "id": 'tbl-surveys',
    "ths": [
    {
        "value": "Survey"
    },
    {
        "value": "Period covered"
    },
    {
        "value": "Submit by" if not history
    },
    {
        "value": "Status"
    },
    {
        "value": "Actions"
    }
    ]
}
%}

{% set surveyTableDataRows = [] %}
{% for survey in sorted_surveys_list %}
    {% set surveyContent %}
        <span id="SURVEY_NAME" >{{ survey.survey_long_name }}</span><br/>
        <span id="REPORTING_UNIT_DETAILS_{{ survey.business_ref }}" name="reporting-unit-details" class="survey-list-item u-fs-s">
            Business: {{ survey.business_name }}<br/>
            {% if survey.trading_as %}
            Trading as: {{ survey.trading_as }}<br/>
            {% endif %}
            Ref: {{ survey.business_ref }}
        </span>
    {% endset %}
    {% set surveyAccess %}
        {% if survey.display_button %}
                {{
                    onsButton({
                        "text": 'Access survey <span class="u-vh"> for ' ~ survey.survey_long_name,
                        "url": url_for('surveys_bp.access_survey', case_id=survey.case_id, ci_type = survey.collection_instrument_type, business_party_id=survey.business_party_id, survey_short_name=survey.survey_short_name),
                        "type": "submit",
                        "hideCaret": true,
                        "classes": "btn--small u-mt-xs u-mb-xs",
                        "id": 'access_survey_button_' ~ loop.index,
                        "submitType": "timer"
                    })
                }}
            <br>
        {% endif %}
        <a id="create-message-link-{{loop.index}}" href="{{ url_for('surveys_bp.get_help_page', short_name=survey.survey_short_name) }}" class="u-fs-s">Help with this survey <span class="u-vh"> about {{ survey.survey_long_name }}</span></a>
    {% endset %}
    {% do surveyTableDataRows.append(
        {
        "highlight": true if survey.added_survey,
        "tds": [
            {
                "value": surveyContent,
                "data": "Survey",
                "id": "new-survey" if survey.added_survey
            },
            {
                "value": survey.period,
                "data": "Period covered",
                "id": "period" ~ loop.index
            },
            {
                "value": survey.submit_by if not history,
                "data": "Submit by"
            },
            {
                "value": survey.status,
                "data": "Status"
            },
            {
                "value": surveyAccess,
                "data": "Actions"
            }
        ]
        }
    ) %}
{% endfor %}

{% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
{{
    onsTable(surveyTableData)
}}

{% if sorted_surveys_list|length == 0 %}
    {{ emptySurveyListLabel }}
{% endif %}
