{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}Surveys to complete - ONS Business Surveys{% endblock %}

{% block main %}

<ul class="navigation-tabs navigation-tabs-component">
    <li class="navigation-tabs__item navigation-tabs__item--primary navigation-tabs__item--active">
        <a id="SURVEY_TODO_TAB" href="{{ url_for('surveys_bp.logged_in') }}"
           class="btn btn--secondary btn--border navigation-tabs__tab navigation-tabs__tab--active">To do</a>
    </li>
    <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a id="SURVEY_HISTORY_TAB" href="{{ url_for('surveys_bp.surveys_history') }}"
           class="btn btn--secondary btn--border navigation-tabs__tab">History</a>
    </li>
    <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a id="SURVEY_MESSAGES_TAB" href="{{ url_for('secure_message_bp.messages_get') }}"
           class="btn btn--secondary btn--border navigation-tabs__tab">Messages</a>
    </li>
</ul>

{% if surveyAdded %}
<div class="panel panel--simple panel--success survey--success col-5@m u-mb-m ">
    <div class="panel__body">
        <div>Your <a id="NEW_SURVEY_NOTIF" href="#RSI-survey">new survey</a> has been added</div>
    </div>
</div>
{% endif %}

<p class="u-mt-m">
    <a id="ADD_SURVEY_BTN" href="{{ url_for('surveys_bp.add_survey') }}">Add a survey</a> using your enrolment code
</p>

<h1 class="u-vh">Surveys to complete</h1>

{% set emptySurveyListLabel = 'You have no surveys to complete' %}
{% include "surveys/surveys.html" %}

{% endblock main %}
