<ul class="survey-list">

    <li class="header-row">

        <div id="SURVEY_COLUMN_HEADING" class="grid__col col-4@m">
            Survey
        </div>

        <div id="PERIOD_COVERED_COLUMN_HEADING" class="grid__col col-2@m">
            Period covered
        </div>

        <div id="SUBMIT_BY_COLUMN_HEADING" class="grid__col col-2@m">
            {% if not history %}
            Submit by
            {% endif %}
        </div>

        <div id="STATUS_COLUMN_HEADING" class="grid__col col-2@m">
            Status
        </div>

    </li>

    {% for data in surveys_list %}

    <li class="grid card">

        <div class="grid__col col-4@m">
            <span class="survey-list-item__label mercury">SURVEY: </span>
            <span>{{ data.survey.longName }}</span><br/>
            <span class="survey-list-item pluto">
                BUSINESS: {{ data.business_party.name }}<br/>
                REF: {{data.case.caseGroup.sampleUnitRef }}
            </span>
        </div>

        <div class="grid__col col-2@m">
            <span class="survey-list-item__label mercury">PERIOD COVERED: </span>
            <span class="survey-list-item__nowrap">{{ data.collection_exercise.periodEndDateTimeFormatted}}</span>
        </div>

        <div class="grid__col col-2@m">
            {% if not history %}
            <span class="survey-list-item__label mercury">SUBMIT BY: </span>
            <span>{{ data.collection_exercise.scheduledReturnDateTimeFormatted}}</span>
            {% endif %}
        </div>

        <div class="grid__col col-2@m">
            <span class="survey-list-item__label mercury">STATUS: </span>
            <span>{{ data.status }}</span>
        </div>

        <div class="grid__col col-2@m">
            <a href="{{ url_for('surveys_bp.access_survey', case_id=data.case.id) }}">
                <button id="ACCESS_SURVEY_BUTTON_{{loop.index}}" class="btn action-button btn--primary" type="submit">
                    Access <span class="u-vh">{{ data.survey.longName|replace("Survey", " ") }}</span> survey
                </button>
            </a>
        </div>

    </li>

    {% endfor %}

    {% if surveys_list|length == 0 %}
    <li class="card">
        <div class="grid__col col-12@m">{{emptySurveyListLabel}}</div>
    </li>
    {% endif %}


</ul>
