{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}File uploaded successfully - ONS Business Surveys{% endblock %}

{% block main %}

<div class="grid">
    <div class="grid__col col-12@m">
        <div class="panel panel--simple panel--success upload--success">
            <div class="panel__body">
                <h1 class="venus">File uploaded successfully</h1>
                <p>{{ upload_filename }} has been uploaded.</p>
                <p>This survey has now moved into your <a href="{{ url_for('surveys_bp.surveys_history') }}">history</a>.</p>
                <p><a href="{{ url_for('surveys_bp.logged_in') }}">Return to my 'To do' list</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
