
{% extends "layouts/_block_content.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}

{% set errorType = data['error']['type'] %}

{% set page_title = "Add a survey" %}

{% block content %}

    {% if errorType == "failed" %}
        {% set errorMsg = 'Enter a valid enrolment code' %}
        {% set errorMsgText = { "text": errorMsg, "id": 'enrolment_code_error' } %}
        {% call
            onsPanel({
                "variant": "error",
                "classes": "u-mb-s",
                "title": "This page has 1 error"
            })
        %}
            <p>This <strong>must be corrected</strong> to continue.</p>
            {% from "components/list/_macro.njk" import onsList %}
            {{
                onsList({
                    "element": "ol",
                    "itemsList": [
                        {
                            "text": errorMsg,
                            "url": "#enrolment_code_error",
                            "classes": "js-inpagelink"
                        }
                    ]
                })
            }}
        {% endcall %}
    {% endif %}

    <section>
        <form id="enrolment-code"
            action="{{ url_for('surveys_bp.add_survey') }}"
            method="post"
            class="form">
            {{ form.csrf_token }}

            <h1 class="u-fs-xl ons-u-mt-s">Add a survey</h1>

            {{
                onsInput({
                    "id": "enrolment_code",
                    "name": "enrolment_code",
                    "type": "text",
                    "label": {
                        "text": "Enrolment Code",
                        "description": "You'll find this in the letter we sent you"
                    },
                    "error": errorMsgText
                })
            }}
            <div class="ons-grid ons-grid-flex ons-grid--gutterless ons-grid-flex--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
                <div class="ons-grid__col">
                    {{
                        onsButton({
                            "text": "Continue",
                            "type": "submit",
                            "id": "continue_button",
                            "submitType": "timer"
                        })
                    }}
                </div>
                <div class="ons-grid__col ons-u-ml-m">
                    <a href="{{ url_for('surveys_bp.get_survey_list', tag='todo') }}" id="cancel_button" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </section>

{% endblock content %}