{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}Surveys to complete - ONS Business Surveys{% endblock %}

{% block main %}

{% include 'partials/tab_list.html' %}

{% if added_survey %}
<div class="panel panel--simple panel--success survey--success col-5@m u-mb-m ">
    <div class="panel__body">
        <div>Your new survey has been added</div>
    </div>
</div>
{% endif %}

<p class="u-mt-m">
    <a id="ADD_SURVEY_BTN" href="{{ url_for('surveys_bp.add_survey') }}">Add a survey</a> using your enrolment code
</p>

<h1 class="u-vh">Surveys to complete</h1>

{% set emptySurveyListLabel = 'You have no surveys to complete' %}
{% include "surveys/surveys.html" %}

{% endblock main %}
