{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}Completed surveys - ONS Business Surveys{% endblock %}

{% block main %}

      <div class="container page__container">

        <div class="grid">

          <div class="grid__col col-6@m">
            <div role="main" id="main" class="page__main">

              <div class="panel panel--error u-mb-s" data-qa="error">
                <div class="panel__header">
                  <h1 class="panel__title venus">Enrolment code not valid</h1>
                </div>
                <div class="panel__body" data-qa="error-body">
                  <p class="mars"><a onclick="focusOn('input-code-input');" href="#input-code">Please re-enter the code and try again</a></p>
                </div>
              </div>

              <section>
                <form id="enrolment-code" action="/enrolment/confirm-organisation-survey.html" class="form">

                  <h1 class="saturn">Add a survey</h1>

                    <div class="panel panel--simple panel--error">
                      <p class="error-message">
                        Please enter a valid enrolment code
                      </p>

                      <div class="field u-mt-s">
                        <label class="label">Enrolment code</label>
                        <span class="label__description label__inner pluto">You'll find this in the letter we sent you</span>
                        <input class="input input--text input-type__input" required type="text" id="input-code">
                      </div>
                    </div>
                  <button class="btn btn--primary venus u-mt-s" type="submit">Continue</button>
                  <p>
                    <a href="{{ url_for('surveys_bp.logged_in') }}">Cancel</a>
                  </p>
                </form>
              </section>

            </div>
          </div>
        </div>

      </div>

{% endblock main %}