{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}My surveys - ONS Business Surveys{% endblock %}

{% block main %}

<div class="grid">
    <div class="grid__col col-6@m">
        <div class="u-mb-m">
            <a href="">Back</a>
        </div>

        <div class="panel panel--simple panel--warn">
            <div class="panel__body">
                <h1 class="venus">Something went wrong</h1>
                <p>Please call <a href="">0300 1234 931</a> or send an email to <a href="">surveys@ons.gov.uk.</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
