{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}My surveys - ONS Business Surveys{% endblock %}

{% block main %}

<ul class="navigation-tabs navigation-tabs-component">
    <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a id="SURVEY_TODO_TAB" href="{{ url_for('surveys_bp.logged_in') }}"
           class="btn btn--secondary btn--border navigation-tabs__tab">To do</a>
    </li>
    <li class="navigation-tabs__item navigation-tabs__item--primary navigation-tabs__item--active">
        <a id="SURVEY_HISTORY_TAB" href="{{ url_for('surveys_bp.surveys_history') }}"
           class="btn btn--secondary btn--border navigation-tabs__tab navigation-tabs__tab--active">History</a>
    </li>
    <li class="navigation-tabs__item navigation-tabs__item--primary">
        <a id="SURVEY_MESSAGES_TAB" href="{{ url_for('secure_message_bp.messages_get') }}"
           class="btn btn--secondary btn--border navigation-tabs__tab">Messages</a>
    </li>
</ul>

{% set emptySurveyListLabel = 'No items to show' %}
{% include "surveys/surveys.html" %}

{% endblock main %}
