{% set survey_name = survey_info['longName'] if survey_info %}
<form
        method="post"
        action="{{ url_for('surveys_bp.upload_survey', case_id=case_id) }}"
        class="form"
        role="form"
        enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div>
        <input class="input input--text" id="selected-file" name="file" type="file" required
        accept=".xls,.xlsx" />
    </div>

    <button class="btn action-button btn--secondary" id="upload-survey-button"
            onclick="ga('send', 'event', 'survey', 'upload', 'collection exercise id={{ collection_exercise_info.userDescription }}');"
            type="submit">Upload</button>

</form>