{% extends "secure-messages/messages.html" %}

{% block page_title %}Secure message view{% endblock %}

{% block messages %}

<div class="secure-message-view-component">
    {% if message['subject'].startswith('Re: ') %}
        <h1 class="saturn">{{ message['subject'][4:] }}</h1>
    {% else %}
        <h1 class="saturn">{{ message['subject'] }}</h1>
    {% endif %}
    <div class="grid">
        <dl>
            <dt class="grid__col col-2@s">From:</dt>
            <dd class="grid__col col-10@s">
                {% if message['@msg_from']['id'] == 'BRES' %}
                    {{ message['@msg_from']['id'] }}
                {% else %}
                    {{ message['@msg_from']['email'] }}
                {% endif %}
            </dd>
            <dt class="grid__col col-2@s">Sent:</dt>
            <dd class="grid__col col-10@s">{{ message['sent_date'][:19] }}</dd>
        </dl>
    </div>

    <br />

    <p>
        {{ message['body'] }}
    </p>
    <form action="{{ url_for('secure_message_bp.reply_message') }}" method="post">
        <fieldset>
            <label>Subject</label>
            {% if message['subject'].startswith('Re: ') %}
                <textarea readonly
                    id="secure-message-subject-thread"
                    class="secure-message-form__subject input input--text"
                    type="text"
                    rows="1"
                    name="secure-message-subject">{{ message['subject'] }} </textarea>
            {% else %}
                <textarea readonly
                    id="secure-message-subject"
                    class="secure-message-form__subject input input--text"
                    type="text"
                    rows="1"
                    name="secure-message-subject">Re: {{ message['subject'] }} </textarea>
            {% endif %}
        </fieldset>

        <fieldset>
            <label class="venus" for="secure-message-body">Reply</label>
            <textarea
                id="secure-message-body"
                class="input input--textarea input--textarea-message"
                rows="10"
                name="secure-message-body"></textarea>
        </fieldset>

        <br />

        <input class="btn btn--secondary" type="submit" name ="submit" value="Save draft" id="draft">
        <input class="btn" type="submit" name="submit" value="Send" id="submit-btn">

        <p><a href="{{ url_for('secure_message_bp.messages_get') }}">Cancel</a></p>
    </form>
</div>

{% endblock messages %}
