{% extends "secure-messages/messages.html" %}

{% block page_title %}View message - ONS Business Surveys{% endblock %}

{% block messages %}

{% include 'secure-messages/message-error-summary.html' %}

<div class="secure-message-view-component">

    <div class="grid grid--reverse">
        <div class="grid__col col-4@m"></div>
        <div class="grid__col col-7@m pull-1@m">
        {% if label != 'SENT' %}
            {% include 'secure-messages/message-form.html' %}
        {% endif %}
        </div>
    </div>
    <p><a href="{{ url_for('secure_message_bp.view_conversation_list') }}">Cancel</a></p>

</div>

{% endblock messages %}
