{% extends "secure-messages/messages.html" %}

{% block page_title %}View message - ONS Business Surveys{% endblock %}

{% block messages %}

{% include 'secure-messages/message-error-summary.html' %}

<div class="secure-message-view-component">

{% if label == 'DRAFT' and errors|length == 0%}
    <div class="system-feedback"> 
        <ul class="system-feedback__list"> 
            <li class="system-feedback__list-item system-feedback__list-item--success"> 
                <i class="fa fa-check-circle system-feedback__icon" aria-hidden="true" id="inbox-link"> </i>
                Draft saved
                <a href="{{ url_for('secure_message_bp.view_conversation_list') }}">View your inbox</a>
            </li>
        </ul>
    </div>
{% endif %}

    {% if message %}
        {% include 'secure-messages/thread-message.html' %}
    {% endif %}

    <div class="grid grid--reverse">
        <div class="grid__col col-4@m"></div>
        <div class="grid__col col-7@m pull-1@m">
        {% if label != 'SENT' %}
            {% include 'secure-messages/message-form.html' %}
        {% endif %}
        </div>
    </div>

    <p><a href="{{ url_for('secure_message_bp.view_conversation_list') }}">Cancel</a></p>

</div>

{% endblock messages %}
