{% if message %}
    <div>
    {% if message['subject'].startswith('Re: ') %}
        <h1 class="u-fs-l">Subject: {{ message['subject'][4:] }}</h1>
    {% else %}
        <h1 class="u-fs-l">Subject: {{ message['subject'] }}</h1>
    {% endif %}

        <div class="grid">
            <dl>
                <dt class="grid__col col-1@s">
                {% if label == 'SENT' %}
                    To:
                {% else %}
                    From:
                {% endif %}
                </dt>
                <dd class="grid__col col-11@s">ONS Business Surveys team</dd>
                <dt class="grid__col col-1@s">Sent:</dt>
                <dd class="grid__col col-11@s">{{ message['sent_date'][:19] }}</dd>
            </dl>
        </div>

        <br />
        <span style="white-space:pre-line">{{ message['body'] }}</span>
    </div>
{% endif %}
