.navigation-tabs {
  margin-bottom : 1.5rem;
  padding : 0;
  list-style-type : none;
  border-bottom : 1px solid #555;

  &:after
  {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .navigation-tabs__item {
    margin-bottom : 0;

    .navigation-tabs__tab {
      margin-bottom : 0;
      padding : .5rem 1rem;
      border : 1px solid transparent;
      border-bottom-left-radius : 0;
      border-bottom-right-radius : 0;
      border-bottom : none;

      &.navigation-tabs__tab--link {
        font-weight : normal;
        text-decoration : underline;
        color : $color-blue;

        &:hover {
          color : #fff;
        }
      }

      &.navigation-tabs__tab--active {
        border-color : inherit;
      }
    }
    &.navigation-tabs__item--primary {
      float : left;
    }

    &.navigation-tabs__item--secondary {
      float : right;
    }

    &.navigation-tabs__item--active {
      margin-bottom : -1px;
      padding-bottom : 1px;
      background-color : #fff;
    }
  }
}
