.secure-message-form {

  .secure-message-form__subject,
  .secure-message-form__body {
    width : 100%;
    border : 1px solid #222;

    &:hover {
      border-color : #033e58;
    }
  }

  .secure-message-form__body {

  }
}
