<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'common/css/default/responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'ons-base.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'site.min.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="page">
        <div class="page__content">
            <div class="page__header">
                <div class="container">
                    {% include 'partials/header-non-sim.html' %}
                </div>
            </div>
            <div class="container page__container">
                <div class="grid grid--reverse">
                    <div class="grid__col col-4@m">
                        Right col
                    </div>
                    <div class="grid__col col-7@m pull-1@m">

                        <div id="main" role="main" class="page__main">
                            <form action="#" class="form">
                                <div class="group">
                                    <div class="block">
                                        <div class="section">

                                            <h1 class="section__title saturn">Existing users</h1>

                                            <p class="section__description">Sign in with your ONS surveys account details.</p>

                                            <div class="question">
                                                <h2>Email address</h2>
                                                <div class="question__answers"><div class="question__answer">
                                                    <div class="answer answer--currency">
                                                        <div class="answer__fields js-fields">
                                                            <div class="field">
                                                                <input data-qa="input-text" class="input input--text input-type__input" value="" type="text" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <br />

                                            <div class="question">
                                                <h2>Password</h2>
                                                <div class="question__answers"><div class="question__answer">
                                                    <div class="answer answer--currency ">
                                                        <div class="answer__fields js-fields">
                                                            <div class="field">
                                                                <input data-qa="input-text" class="input input--text input-type__input" value="" type="text" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <p><a href="">Forgot password</a></p>

                                            <br />

                                            <form action="#" method="POST">
                                                <button class="btn btn--secondary btn--lg venus" type="submit" name="action[submit_answers]">Sign in</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="page">
        {% include 'partials/header-non-sim.html' %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block footer %}
        {% include 'partials/footer.html' %}
        {% endblock %}
    </div>-->
</body>
</html>
