<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'site.min.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% include 'partials/header-non-sim.html' %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock %}
    </div>
</body>
</html>
