{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Confirm organisation and survey{% endblock %}

{% block main %}
    <h1 class="saturn">Check your email</h1>
    <p>We've sent an email to the registered email address for this account.<br />
        Please follow the link in the email to reset your password.</p>
    <br />
    <br />

    <p>Email not arrived yet? Please check your span folder</p>

    <p><a href="">Help with password reset email</a></p>
{% endblock main %}
