{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Register{% endblock %}

{% block main %}
    <form action="/register/confirm-organisation-survey/" class="form">

        <h1 class="saturn">Register</h1>
        <p>If you don't have an account, you can use your enrolment code to set one up.</p>

        <div class="field">
            <label class="label">Enrolment code</label>
            <p>You'll find this in the letter we sent you</p>
            <input class="input input--text input-type__input" type="text" />
        </div>
        <br />

        <button class="btn btn--secondary venus" type="submit">Continue</button>

    </form>
{% endblock main %}
