{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Register{% endblock %}

{% block main %}
    <form action="/create-account/confirm-organisation-survey/" class="form">

        <h1 class="saturn">Create an account</h1>

        <div class="field">
            <label class="label">Activation code</label>
            <span class="label__description label__inner pluto">You'll find this in the letter we sent you</span>
            <input class="input input--text input-type__input" type="text" />
        </div>
        <br />

        <button class="btn btn--primary venus" type="submit">Continue</button>

        <p>Already have an account? <a href="">sign in here</a></p>

    </form>
{% endblock main %}
