{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Confirm organisation and survey{% endblock %}

{% block main %}
    <form action="/register/enter-your-details/" class="form">

        <h1 class="saturn">Confirm organisation and survey</h1>
        <p>If you don't have an account, you can use your enrolment code to set one up.</p>

        <ul>
            <li>Enrolment code: <strong>MPRTIUJKL</strong></li>
            <li>Organisation: <strong>Bolts and Ratchets Ltd</strong></li>
            <li>Survey to complete: <strong>Monthly Business Survey</strong></li>
        </ul>

        <p>Please confirm your relationship to <strong>Bolts and Ratchets Ltd</strong></p>

        <p>I am:</p>
        <div class="field field--radio field--multiplechoice">
            <fieldset>
                <div class="field field--radio">
                    <div class="field__item js-focusable-box">
                        <input class="input input--radio js-focusable" type="radio" id="radio1" name="custom_radio_name" />
                        <label class="label label--inline venus" for="radio1">the owner of, or a partner in this organisation</label>
                    </div>
                    <div class="field__item js-focusable-box">
                        <input class="input input--radio js-focusable" type="radio" id="radio2" name="custom_radio_name" />
                        <label class="label label--inline venus" for="radio2">a director, trustee or senior officer of this organisation (for example a company secretary)</label>
                    </div>
                    <div class="field__item js-focusable-box">
                        <input class="input input--radio js-focusable" type="radio" id="radio3" name="custom_radio_name" />
                        <label class="label label--inline venus" for="radio3">external to this organisation, but act on their behalf (for example an accountant)</label>
                    </div>
                    <div class="field__item js-focusable-box">
                        <input class="input input--radio js-focusable" type="radio" id="radio4" name="custom_radio_name" />
                        <label class="label label--inline venus" for="radio4">employed by this organisation in a professional occupation or as a senior manager</label>
                    </div>
                    <div class="field__item js-focusable-box">
                        <input class="input input--radio js-focusable" type="radio" id="radio5" name="custom_radio_name" />
                        <label class="label label--inline venus" for="radio5">employed by this organisation as a middle / junior manager or equivalent</label>
                    </div>
                    <div class="field__item js-focusable-box">
                        <input class="input input--radio js-focusable" type="radio" id="radio6" name="custom_radio_name" />
                        <label class="label label--inline venus" for="radio6">employed by this organisation in an administrative or secretarial role</label>
                    </div>
                </div>
            </fieldset>
        </div>
        <br />

        <p>We will send a letter to the organisation to confirm you are acting on their behalf in this capacity.</p>

        <button class="btn btn--primary venus" type="submit">Continue</button>

    </form>
{% endblock main %}
