{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Register{% endblock %}

{% block main %}
    <form
            method="post"
            action="{{ url_for('register') }}"
            class="form"
            role="form">
        <h1 class="saturn">Create an account</h1>

        <div class="field">
            {{ form.csrf_token}}
            {{ form.activation_code.label(class_='label') }}
            <!--<label class="label">Activation code</label>-->
            <span class="label__description label__inner pluto">You'll find this in the letter we sent you</span>
            {{ form.activation_code(class_='input input--text input-type__input') }}
            <!--
            <input class="input input--text input-type__input" type="text" />
            -->
        </div>
        <br />

        <button class="btn btn--primary venus" type="submit">Continue</button>

        <p>Already have an account? <a href="">sign in here</a></p>

    </form>
{% endblock main %}
