{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Sign in{% endblock %}


{% set error = true %}


{% block main %}

    {% if error %}
    <div class="panel panel--error">
        <div class="panel__header">
            <h1 class="panel__title venus">Some of the details entered are incorrect</h1>
        </div>
        <div class="panel__body" data-qa="error-body">
            <p class="mars"><a href="#sign-in-details" class="js-inpagelink">Check the email address and password</a></p>
        </div>
    </div>
    <br />
    {% endif %}

    <form action="#" class="form">

        <h1 class="saturn">Existing users</h1>
        <legend>Sign in with your ONS surveys account details.</legend>
        <br />

        <fieldset id="sign-in-details">
            {% if error %}
            <div class="panel panel--simple panel--error">
                <div class="panel__header">
                    <ul class="list list--bare list--errors">
                        <li class="list__item mars"
                            data-error="true"
                            data-error-msg="You have incorrectly entered the email address or password.">
                                You have incorrectly entered the email address or password.
                        </li>
                    </ul>
                </div>
            {% endif %}
                <div class="field">
                    <label class="label">Email address</label>
                    <input id="email-address" class="input input--text input-type__input" value="" type="text" />
                </div>

                <br />

                <div class="field">
                    <label class="label">Password</label>
                    <input class="input input--text input-type__input" value="" type="text" />
                    <p><a href="">Forgot password</a></p>
                </div>
            {% if error %}
            </div>
            {% endif %}
        </fieldset>



        <br />

        <button class="btn btn--secondary venus" type="submit">Sign in</button>

    </form>
{% endblock main %}
