{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Confirm organisation and survey{% endblock %}

{% block main %}
    <h1 class="saturn">We've now locked this account</h1>
    <p>You've tried to sign in a few times with incorrect details.<br/>
        As a result of this, we've now locked this account for security reasons.</p>

    <p>Don't worry, to unlock your account you just need to contact in one of the following ways:</p>

    <p>Email: <a href="mailto:surveys.ons@gov.uk">surveys.ons@gov.uk</a></p>

    <p>Phone: 0300 1234 932</p>
{% endblock main %}
