{% import 'partials/section.html' as section %}
{% import 'partials/question.html' as question %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Sign in{% endblock %}

{% block main %}
    <form action="#" class="form">
        <div class="group">
            <div class="block">

            {% call section.section_default(
                "Existing users",
                "Sign in with your ONS surveys account details.") %}

                <label>Email address</label>
                <div class="field">
                    <input class="input input--text input-type__input" value="" type="text" />
                </div>
                <br />

                <label>Password</label>
                <div class="field">
                    <input class="input input--text input-type__input" value="" type="text" />
                </div>


                <br />
                <br />

                {{ question.build_question("Email address") }}

                <br />

                {{ question.build_question("Password") }}

                <p><a href="">Forgot password</a></p>

                <br />

                <button class="btn btn--secondary btn--lg venus" type="submit" name="action[submit_answers]">Sign in</button>
            {% endcall %}
            </div>
        </div>
    </form>
{% endblock main %}
{% block sidebar %}
    Right col
{% endblock sidebar %}
