{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/password/_macro.njk" import onsPassword %}

{% set page_title = "Change password" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    }
] %}

{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    {% if errors %}
        {% set errorData = [] %}
        {% if errors|length > 1 %}
            {% set errorTitle = 'There are ' ~ errors|length ~ ' errors on this page' %}
            {% for error in errors %}
                {% do errorData.append(
                    {
                        "text": errors[error][0],
                        "url": "#" ~ error ~ '_error',
                        "classes": "ons-js-inpagelink"
                    }
                ) %}
            {% endfor %}
        {% else %}
            {% set errorTitle = 'There is 1 error on this page' %}
            {% for error in errors %}
                {% do errorData.append(
                    {
                        "text": errors[error][0],
                        "url": "#" ~ error ~ '_error',
                        "classes": "ons-js-inpagelink"
                    }
                ) %}
            {% endfor %}
        {% endif %}

        {% call onsPanel({
                "type": "error",
                "classes": "ons-u-mb-s",
                "title": errorTitle
            })
        %}
            <p>This <strong>must be corrected</strong> to continue.</p>

            {{
                onsList({
                    "element": "ol",
                    "itemsList": errorData
                })
            }}
        {% endcall %}
    {% endif %}
    <h1 class="ons-u-fs-xl">Change your password</h1>
    <form action="" method="post">
        {% if errorType == 'failed' %}
            {% set errorPassword = { "text": "Incorrect current password", "id": 'password_error' } %}
        {% elif errors.password %}
                {% set errorPassword = { "text": errors['password'][0],  "id": 'password_error' } %}
        {% endif %}
        {{ form.csrf_token }}
        {{
            onsPassword({
                "id": "password",
                "name": "password",
                "type": "text",
                "label": {
                    "text": 'Enter your current password'
                },
                "showPasswordText": "Show password",
                "error": errorPassword,
            })
        }}
        <div class="ons-field">
            <h2 class="ons-u-mt-l">Create a new password</h2>
            <div>
                <p>Your password must have:</p>
                {{
                    onsList({
                        "itemsList": [
                            {
                                "text": 'at least 12 characters'
                            },
                            {
                                "text": 'at least 1 uppercase letter'
                            },
                            {
                                "text": 'at least 1 symbol (eg: ?!£%)'
                            },
                            {
                                "text": 'at least 1 number'
                            }
                        ]
                    })
                }}
            </div>
            <div>
                {%- call onsFieldset({
                        "legend": "New password",
                        "legendClasses": "ons-u-vh"
                    }) -%}
                    {% if errors.new_password %}
                        {% set newPasswordError = { "text": errors['new_password'][0],  "id": 'new_password_error' } %}
                    {% endif %}
                    {{
                        onsPassword({
                            "id": "new_password",
                            "name": "new_password",
                            "type": "text",
                            "label": {
                                "text": "New Password"
                            },
                            "showPasswordText": "Show password",
                            "error": newPasswordError
                        })
                    }}
                    {{
                        onsPassword({
                            "id": "new_password_confirm",
                            "name": "new_password_confirm",
                            "type": "text",
                            "label": {
                                "text": 'Re-type your new password'
                            },
                            "showPasswordText": "Show password",
                            "error": newPasswordError
                        })
                    }}
                {% endcall %}
            </div>
        </div>
        <div class="ons-field ons-u-mt-l">
            {{
                onsButton({
                    "text": "Submit",
                    "id": "btn-option-submit",
                    "submitType": "timer"
                })
            }}
            {{
                onsButton({
                    "id": "btn-help-this-survey-option-cancel",
                    "url": url_for('account_bp.account'),
                    "text": 'Cancel',
                    "variants": 'secondary',
                    "noIcon": true
                })
            }}
        </div>
    </form>

{% endblock main %}
