{% extends "layouts/_block_content.html" %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/description-list/_macro.njk" import onsDescriptionList %}
{% from "components/details/_macro.njk" import onsDetails %}

{% block main %}
<div class=" ons-push-1@m">
<h1 class="ons-u-fs-xl">My Account</h1>
{{
    onsDescriptionList({
        "classes": "ons-u-mb-no",
        "descriptionListLabel": "My account information",
        "termCol": "4",
        "descriptionCol": "6",
        "itemsList": [
            {
                "term": "Name:",
                "descriptions": [
                    {
                        "description": respondent.firstName ~ " " ~ respondent.lastName
                    }
                ]
            },
            {
                "term": "Email address:",
                "descriptions": [
                    {
                        "description": respondent.emailAddress
                    }
                ]
            },
            {
                "term": "Phone number:",
                "descriptions": [
                    {
                        "description": respondent.telephone
                    },
                    {
                        "description": "<a href='/my-account/change-account-details'>Edit contact details</a>"
                    }
                ]
            },
            {
                "term": " ",
            },
            {
                "term": "Password:",
                "descriptions": [
                    {
                        "description": "<a href='/my-account/change-password'>Change password</a>"
                    }
                ],
            }
        ]
    })
}}
<div class="ons-u-mb-xl 54px"></div>
{%
    call onsDetails({
        "id": "delete account",
        "title": "I want to delete my account"
    })
%}
    <p>If you wish to delete your account, you must <a href='{{ url_for("account_bp.transfer_surveys") }}'>transfer</a> all surveys to someone who will respond to them, and they must accept the transfer.</p>
    <p>Your account will be deleted after 36 months of inactivity.</p>
{% endcall %}
</div>

{% endblock main %}
