{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/button/_macro.njk" import onsButton %}
{% set page_title = "Change email address" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    },
    {
        "text": "Change your contact details",
        "url": "/my-account/change-account-details",
        "id": "b-item-3"
    },
] %}
{% block breadcrumbs %}
{{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}
{% block main %}
    <h1 class="ons-u-fs-xl">Almost done</h1>
    <p>We have sent a verification email to your new email address.</p>
    <p>Follow the link in the email to verify the change.</p>
    <p>Email not arrived? It may be in your junk folder.</p>
    <p>
        If it does not arrive within 15 minutes, please <a href="{{ url_for('contact_us_bp.contact_us') }}" rel="noopener">contact us</a>.
    </p>
    <div class="ons-field ons-u-mt-l">
        <a href="{{ url_for('surveys_bp.get_survey_list', tag='todo') }}"
           role="button"
           class="ons-btn ons-btn--link ons-btn--primary"
           id="btn-back-to-survey"><span class="ons-btn__inner">Back to surveys</span></a>
    </div>
{% endblock main %}
