{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set page_title = "Account delete" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item"
    }
] %}

{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    {%- with messages = get_flashed_messages(category_filter=["info"]) -%}
        {%- if messages -%}
            {% call
                onsPanel({
                    "classes": "ons-u-mb-s",
                })
            %}
                <div id="delete-error">
                    <h2>This account can not be deleted.</h2>
                    {%- for message in messages -%}
                        <p>{{ message }}</p>
                    {%- endfor -%}
                </div>
            {% endcall %}
        {%- endif -%}
    {%- endwith -%}
    {% if is_validated %}
        <h1 class="ons-u-fs-xl">Delete account</h1>
        {% call onsPanel({
                "variant": 'warn'
            })
        %}
            <p>All of the information about your account will be deleted.</p>
            <p>Once your data has been removed, it cannot be recovered.</p>
            <p>You will not be able to set up a new account until you are selected for a new survey.</p>
        {% endcall %}
    {% endif %}
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="ons-grid ons-grid-flex ons-grid--gutterless ons-grid-flex--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
            {% if is_validated %}
            <div class="ons-grid__col">
                {{
                    onsButton({
                        "text": "Delete account",
                        "id": "btn-option-delete-account",
                        "submitType": "timer"
                    })
                }}
            </div>
            {% endif %}
            <div class="ons-grid__col ons-u-ml-m">
                <a href="{{ url_for('surveys_bp.get_survey_list', tag='todo') }}" id="btn-option-cancel">Cancel</a>
            </div>
        </div>
    </form>
{% endblock main %}
