{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "Change email address" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    },
    {
        "text": "Change your contact details",
        "url": "/my-account/change-account-details",
        "id": "b-item-3"
    },
] %}

{% block breadcrumbs %}
    {{
        onsBreadcrumbs({
            "ariaLabel": "Breadcrumbs",
            "id": "breadcrumbs",
            "itemsList": breadcrumbsData
        })
    }}
{% endblock breadcrumbs %}

{% block main %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                    {% call onsPanel({
                        "variant": 'error',
                        "id": 'error-id',
                        "iconType": 'lock',
                        "classes": 'ons-u-mb-m'
                    }) %}
                        <p class="ons-u-fs-r" id="flashed-error-message-{{ loop.index }}">{{ message }}</p>
                    {% endcall %}
                {% else %}
                    {% call onsPanel({
                        "variant": 'success',
                        "id": 'success-id',
                        "iconType": 'check',
                        "classes": 'ons-u-mb-m'
                    }) %}
                        <p class="ons-u-fs-r" id="flashed-message-{{ loop.index }}">{{ message }}</p>
                    {% endcall %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1 class="ons-u-fs-xl">Change email address</h1>
    <p>You will need to authorise a change of email address.</p>
    <p>We will send a verification email to <strong>{{ new_email }}</strong>.</p>
    {% call onsPanel({}) %}
        <p>
            If you are longer required to respond to your surveys, you can <a href="{{ url_for('account_bp.transfer_survey_overview') }}">transfer your surveys</a> to a colleague.
        </p>
    {% endcall %}
    <form action="{{ url_for('account_bp.change_email_address')}}" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="email_address" value="{{ new_email }}"/>
        <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
            <div class="ons-grid__col">
                {{
                    onsButton({
                        "text": "Send verification email",
                        "id": "btn-option-send-email",
                        "submitType": "timer"
                    })
                }}
            </div>
            <div class="ons-grid__col ons-u-ml-m">
                <a href="{{ url_for('account_bp.change_account_details') }}" id="btn-option-send-email-cancel">Cancel</a>
            </div>
        </div>
    </form>
{% endblock main %}
