{% extends "layouts/_twothirds.html" %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/lists/_macro.njk" import onsList %}

{% set page_title = "Change contact details" %}
{% set breadcrumbsData = [
  {
    "text": "Surveys",
    "url": "/surveys/todo"
  },
  {
    "text": "Account",
    "url": "/my-account"
  }
] %}

{% block main %}
{{
    onsBreadcrumb({
        "ariaLabel": "Breadcrumbs",
        "id": "breadcrumbs",
        "itemsList": breadcrumbsData
    })
}}
{% if errors|length > 0 %}
        {% if errors|length == 1 %}
            {% set errorTitle = 'There is 1 error on this page' %}
        {% elif errors|length > 1 %}
            {% set errorTitle = 'There are ' ~ errors|length ~ ' errors on this page' %}
        {% endif %}
        {% call
            onsPanel({
                "type": "error",
                "classes": "u-mb-s",
                "title":  errorTitle
            })
        %}
            <p>These <strong>must be corrected</strong> to continue.</p>
            {% set errorData = [] %}
            {% for error in errors %}
                {% set error_text =  error %}
                {% do errorData.append(
                    {
                        "text": 'Problem with the ' ~ error_text.replace('_', ' '),
                        "index": true,
                        "url": "#" ~ error ~ '_error',
                        "classes": "js-inpagelink"
                    }
                ) %}
            {% endfor %}
            {{
                onsList({
                    "classes": "list--bare",
                    "itemsList": errorData
                })
            }}
        {% endcall %}
    {% endif %}
<h1 class="u-fs-xl">Change your contact details</h1>
<form action="" method="post">
        {{ form.csrf_token }}
        {% set firstName = respondent.firstName %}
        {% if errors.first_name %}
                {% set errorFirstName = { "text": errors['first_name'][0],  "id": 'first_name_error' } %}
                {% set firstName = form.first_name.data %}
        {% endif %}
            {{
                onsInput({
                    "id": "first_name",
                    "name": "first_name",
                    "type": "text",
                    "label": {
                        "text": 'First name'
                    },
                    "error": errorFirstName,
                    "value": firstName
                })
            }}
            {% set lastName = respondent.lastName %}
            {% if errors.last_name %}
                {% set errorLastName = { "text": errors['last_name'][0],  "id": 'last_name_error' } %}
                {% set lastName = form.last_name.data %}
            {% endif %}
            {{
                onsInput({
                    "id": "last_name",
                    "name": "last_name",
                    "type": "text",
                    "label": {
                        "text": 'Surname'
                    },
                    "error": errorLastName,
                    "value": lastName
                })
            }}
            {% set emailAddress = respondent.emailAddress %}
            {% if errors.email_address %}
                {% set errorEmailAddress = { "text": errors['email_address'][0],  "id": 'email_address_error' } %}
                {% set emailAddress = form.email_address.data %}
            {% endif %}
            {{
                onsInput({
                    "id": "email_address",
                    "name": "email_address",
                    "type": "text",
                    "label": {
                        "text": 'Email address'
                    },
                    "error": errorEmailAddress,
                    "value": emailAddress,
                })
            }}
            {% set phoneNumber = respondent.telephone %}
            {% if errors.phone_number %}
                {% set errorPhoneNumber = { "text": errors['phone_number'][0],  "id": 'phone_number_error' } %}
                {% set phoneNumber = form.phone_number.data %}
            {% endif %}
            {{
                onsInput({
                    "id": "phone_number",
                    "name": "phone_number",
                    "type": "tel",
                    "autocomplete": "tel",
                    "classes": "input--w-8",
                    "label": {
                        "text": 'Phone number'
                    },
                    "error": errorPhoneNumber,
                    "value": phoneNumber
                })
            }}
        <p class="field u-mt-l">
        <div class="btn-group">
        {{
            onsButton({
            "text": "Save",
            "id": "btn-option-save",
            "classes": 'btn-group__btn',
            "submitType": "timer"
            })
        }}
        <a href="{{ url_for('account_bp.get_account', tag='todo') }}"
      role="button" class="btn btn--secondary" id="btn-upload-ci-cancel"><span class="btn__inner">Cancel</span></a>
        </div>
    </p>
    </form>

{% endblock main %}
