{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "Change email address conflict" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    },
    {
        "text": "Change your contact details",
        "url": "/my-account/change-account-details",
        "id": "b-item-3"
    },
] %}

{% block breadcrumbs %}
  {{
      onsBreadcrumbs({
          "ariaLabel": "Breadcrumbs",
          "id": "breadcrumbs",
          "itemsList": breadcrumbsData
      })
  }}
{% endblock breadcrumbs %}

{% block main %}
    <h1 class="ons-u-fs-l">We are not able to change your email address</h1>
    <p>This is because the new address you have provided is being used on another account in our system.</p>
    <p>If you are no longer required to respond to your surveys, you can <a href="{{ url_for('account_bp.transfer_surveys') }}">transfer surveys</a> to a colleague instead.</p>
    <p>If you need further help, please <a href="{{ url_for('contact_us_bp.contact_us') }}" rel="noopener">contact us</a>.</p>
{% endblock main %}
