{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "Change email address" %}
{% set breadcrumbsData = [
  {
    "text": "Surveys",
    "url": "/surveys/todo"
  },
  {
    "text": "Account",
    "url": "/my-account"
  },
  {
    "text": "Change your contact details",
    "url": "/my-account/change-account-details"
  },
] %}
{% block breadcrumb %}
{{
    onsBreadcrumb({
        "ariaLabel": "Breadcrumbs",
        "id": "breadcrumbs",
        "itemsList": breadcrumbsData,
        "classes": "u-pt-no"
    })
}}
{% endblock breadcrumb %}
{% block main %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
          <div class="panel panel--simple panel--success u-mb-m">
              <div class="panel__body" data-qa="error-success">
                {% for message in messages %}
                <p class="u-fs-r" id="flashed-message-{{ loop.index }}">{{ message }}</p>
                {% endfor %}
              </div>
          </div>
    {% endif %}
{% endwith %}
<h1 class="u-fs-xl">Change email address</h1>
<p>You will need to authorise a change of email address.</p>
<p>We will send a confirmation email to <b>{{ new_email }}</b>.</p>
<form action="{{ url_for('account_bp.change_email_address')}}" method="post">
        {{ form.csrf_token }}

        <input type="hidden" name="email_address" value="{{ new_email }}"/>




    <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
        <div class="grid__col">
          {{
              onsButton({
              "text": "Send",
              "id": "btn-option-send-email",
              "classes": 'btn-group__btn',
              "submitType": "timer"
              })
          }}
        </div>
        <div class="grid__col u-ml-m">
        <a href="{{ url_for('account_bp.change_account_details') }}" id="btn-option-send-email-cancel">Cancel</a>
        </div>
    </div>
</form>

{% endblock main %}