{% extends "layouts/_block_content.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/textarea/_macro.njk" import onsTextarea %}

{% set page_title = "My Account Something Else" %}
{% set breadcrumbsData = [
    {
        "text": "Surveys",
        "url": "/surveys/todo",
        "id": "b-item-1"
    },
    {
        "text": "Account",
        "url": "/my-account",
        "id": "b-item-2"
    }
] %}

{% block breadcrumbs %}
{{
    onsBreadcrumbs({
        "ariaLabel": "Breadcrumbs",
        "id": "breadcrumbs",
        "itemsList": breadcrumbsData
    })
}}
{% endblock breadcrumbs %}

{% block main %}
    {% set ns = namespace(bodyError = false) %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% set errorTitle = 'There is 1 error on this page' %}
                {% set ns.bodyError = true %}
                {% set ns.errorMessage = message %}
                    {% call
                        onsPanel({
                            "variant": "error",
                            "classes": "ons-u-mb-s",
                            "title": errorTitle
                        })
                    %}
                        {{
                            onsList({
                                "element": "ol",
                                "itemsList": [
                                    {
                                        "text": message,
                                        "url": "#secure-message-body_error",
                                        "classes": "ons-js-inpagelink"
                                    }
                                ]
                            })
                        }}
                    {% endcall %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Send a message</h1>
    <p>Send us a message with a description of your issue and we will get back to you.</p>
    <dl class="ons-metadata ons-metadata__list ons-grid ons-grid--gutterless ons-u-cf ons-u-mb-l" title="Message subject" aria-label="Message subject">
        <dt class="ons-metadata__term ons-grid__col ons-col-2@m"><strong>Subject:</strong></dt>
        <dd class="ons-metadata__value ons-grid__col ons-col-10@m">My account</dd>
    </dl>
    <div class="ons-col-12@m" id="secure-message-form">
        <form action="{{ url_for('account_bp.something_else_post', subject=subject) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% if ns.bodyError %}
                {% set error = { "text": ns.errorMessage,  "id": 'secure-message-body_error' } %}
            {% endif %}

            {{
                onsTextarea({
                    "id": "secure-message-body",
                    "name": "body",
                    "label": {
                        "text": "Create message",
                    },
                    "charCheckLimit": false,
                    "error": error,
                })
            }}

            <div class="ons-field ons-u-mt-l">
                {{
                    onsButton({
                        "text": "Send",
                        "id": "send-message-ons-btn",
                        "variants": "loader"
                    })
                }}
                {{
                    onsButton({
                        "id": "btn-option-cancel",
                        "url": url_for('account_bp.account'),
                        "text": 'Cancel',
                        "variants": 'secondary',
                        "noIcon": true
                    })
                }}
            </div>
        </form>
    </div>
{% endblock main %}
