{% extends "layouts/_twothirds.html" %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/error/_macro.njk" import onsError %}
{% from "components/button/_macro.njk" import onsButton %}

{% set errorType = data['error']['type'] %}
{% set page_title = "Error signing in" if errorType else "Complete a survey on behalf of a business" %}

{% block main %}

    {% if errorType %}
        {% if errorType == 'failed' %}
            {% set errorTitle = 'Incorrect email or password' %}
        {% elif errorType|length > 1 %}s
            {% set errorTitle = 'There are ' ~ errorType|length ~ ' errors on this page' %}
        {% else %}
            {% for error in errorType %}
                {% set errorTitle =  errorType[error][0] %}
            {% endfor %}
        {% endif %}
        {% call
            onsPanel({
                "type": "error",
                "classes": "u-mb-s",
                "title":  errorTitle
            })
        %}
            <p class="u-fs-r"><a href="#sign-in-details" id="try-again-link" class="js-inpagelink">Please try again</a></p>

        {% endcall %}
    {% endif %}

    {%- with messages = get_flashed_messages(category_filter=["info"]) -%}
        {%- if messages -%}
            {% call
                onsPanel({
                    "classes": "u-mb-s"
                })
            %}
                <div id="session-expired">
                    <h2>Your session has expired</h2>
                    {%- for message in messages -%}
                        <p>{{ message }}</p>
                    {%- endfor -%}
                </div>
            {% endcall %}
        {%- endif -%}
    {%- endwith -%}

    <form method="post" class="form" action="{{ url_for('sign_in_bp.login', next=next) }}" role="form">
        {{ form.csrf_token }}

        {% if data['account_activated'] %}
            <h1 class="u-fs-xl">You've activated your account</h1>
            <p>You may now sign in.</p>
        {% else %}

        {% if config.AVAILABILITY_BANNER and config.AVAILABILITY_BANNER != 'False' %}
            {% call
                onsPanel({
                    "classes": "u-mb-s"
                })
            %}
                <strong class="u-d-b">Service Availability</strong>
                <p class="u-fs-r u-mt-xs">Thank you for visiting the Office for National Statistics Secure Data Collection website.</p>
                <p>We are carrying out essential maintenance on our internal systems.</p>
                <p>You are able to use the system and submit data during this period however your response status may not display as completed until after the maintenance has been completed.</p>
            {% endcall %}
        {% endif %}

        <p>New to this service?
           <a id="create-account" href="/register/create-account/">Create an account</a>
        </p>
        <h1 class="u-fs-xl">Sign in</h1>
        {% endif %}

        {% if errorType.username %}
            {% set error = { "text": errorType['username'][0] } %}
        {% endif %}
        {%- call onsFieldset({
            "legend": "Sign in",
            "legendClasses": "u-vh",
            "id": "sign-in-details"
        }) -%}
            {{
                onsInput({
                    "id": "username",
                    "name": "username",
                    "type": "text",
                    "label": {
                        "text": "Email Address"
                    },
                    "attributes": {
                        "required": true
                    },
                    "error": error
                })
            }}

            {% if errorType.password %}
                {% set error = { "text": errorType['password'][0] } %}
            {% endif %}
            {{
                onsPassword({
                    "id": "inputPassword",
                    "name": "password",
                    "type": "password",
                    "label": {
                        "text": "Password"
                    },
                    "showPasswordText": "Show password",
                    "attributes": {
                        "required": true
                    },
                    "error": error
                })
            }}

        {% endcall %}
        {{
            onsButton({
                "text": "Sign in",
                "type": "submit",
                "classes": "u-mt-l",
                "id": "sign_in_button",
                "submitType": "timer"
            })
        }}        
        <div class="u-mt-m">
            <a href="/passwords/forgot-password">Forgot password?</a>
        </div>
    </form>
{% endblock main %}
