{% extends "layouts/_block_content.html" %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/button/_macro.njk" import onsButton %}

{% set errorType = data['error']['type'] %}
{% set page_title = "Error signing in" if errorType else "Complete a survey on behalf of a business" %}

{% block main %}

{% if errorType %}
        {% set errorData = {} %}
        {% set errorTitle = 'There is a problem with your answer' %}
        {% if errorType == 'failed' %}
            {% set errorData = {
                    "text": "Sign in details are invalid. Enter an email address and a password",
                    "url": "#username_error",
                    "classes": "ons-js-inpagelink"
                } %}
        {% elif errorType['username'] and errorType['password'] %}
                    <p>Error type 1: {{ errorType }}</p>
            {% set errorData = {
                    "text": "Enter an Email Address",
                    "url": "#username_error",
                    "classes": "ons-js-inpagelink"
                } %}
        {% elif errorType['password'] %}
                    <p>Error type 2: {{ errorType }}</p>
            {% set errorData = {
                    "text": "Enter a Password",
                    "url": "#password_error",
                    "classes": "ons-js-inpagelink"
                } %}
        {% endif %}
        
        {% call
            onsPanel({
                "variant": "error",
                "classes": "ons-u-mb-s",
                "title": errorTitle
            })
        %}

            {% if errorData %}
                <a href="{{ errorData['url'] }}" class="{{ errorData['classes'] }}">{{ errorData['text'] }}</a>
            {% endif %}
        {% endcall %}
    {% endif %}

    {%- with messages = get_flashed_messages(category_filter=["info"]) -%}
        {%- if messages -%}
            {% call
                onsPanel({
                    "classes": "ons-u-mb-s"
                })
            %}
                <div id="session-expired">
                    <h2>Your session has expired</h2>
                    {%- for message in messages -%}
                        <p>{{ message }}</p>
                    {%- endfor -%}
                </div>
            {% endcall %}
        {%- endif -%}
    {%- endwith -%}

    {%- with messages = get_flashed_messages(category_filter=["success"]) -%}
        {%- if messages -%}
            {% call
                onsPanel({
                    "variant": 'success',
                    "classes": "ons-u-mb-s",
                    "iconType": "check",
                })
            %}
                    {%- for message in messages -%}
                        <p>{{ message }}</p>
                    {%- endfor -%}
            {% endcall %}
        {%- endif -%}
    {%- endwith -%}

    <form method="post" action="{{ url_for('sign_in_bp.login', next=next) }}" role="form">
        {{ form.csrf_token }}

        {% if data['account_activated'] %}
            <h1 class="ons-u-fs-xl">You've activated your account</h1>
            <p>You may now sign in.</p>
        {% else %}

        {% if config.AVAILABILITY_BANNER and config.AVAILABILITY_BANNER != 'False' %}
            {% call
                onsPanel({
                    "classes": "ons-u-mb-s"
                })
            %}
                <strong class="ons-u-d-b">Service Availability</strong>
                <p class="ons-u-fs-r ons-u-mt-xs">Thank you for visiting the Office for National Statistics Secure Data Collection website.</p>
                <p>We are carrying out essential maintenance on our internal systems.</p>
                <p>You are able to use the system and submit data during this period however your response status may not display as completed until after the maintenance has been completed.</p>
            {% endcall %}
        {% endif %}
        <h1 class="ons-u-fs-xxl">Sign in</h1>
        {% endif %}

        {% if errorType == 'failed' %}
            {% set errorUN = { "text": "Sign in details are invalid. Enter an email address and a password", "id": 'username_error' } %}
            {% set errorPW = { "text": "", "id": 'password_error' } %}
        {% elif errorType['username'] %}
            {% set errorUN = { "text": "Enter an email address", "id": 'username_error' } %}
        {% endif %}
        {%- call onsFieldset({
            "legend": "Sign in",
            "legendClasses": "ons-u-vh",
            "id": "sign-in-details"
        }) -%}
            {{
                onsInput({
                    "id": "username",
                    "name": "username",
                    "type": "text",
                    "label": {
                        "text": "Email Address"
                    },
                    "value": email if email else '',
                    "error": errorUN
                })
            }}


            {% if errorType['password'] and not errorType['username'] %}
                {% set errorPW = { "text": "Enter a password", "id": 'password_error' } %}
            {% endif %}
            {{
                onsPassword({
                    "id": "inputPassword",
                    "name": "password",
                    "type": "password",
                    "label": {
                        "text": "Password"
                    },
                    "showPasswordText": "Show password",
                    "error": errorPW
                })
            }}

        {% endcall %}
        <div class="ons-u-fs-r"><p> Need
            <a href="/passwords/forgot-password">help signing in?</a></p>
        </div>
        {{
            onsButton({
                "text": "Sign in",
                "type": "submit",
                "classes": "ons-u-mb-l",
                "id": "sign_in_button",
                "submitType": "timer"
            })
        }}
        <h1 class="ons-u-fs-l">New to this service?</h1>
            <a id="create-account" href="/register/create-account/">Create an account</a>
    </form>
{% endblock main %}
