
{% extends "layouts/_block_content.html" %}

{% set page_title = "Verify your email" %}

{% block main %}
    <h1 class="ons-u-fs-xl">Verify your email</h1>

    <p>When you created your account we sent you an email to verify your email address.</p>
    <p>Please follow the link the email to confirm your email address and sign in.</p>
    <br/>
    <p>If you can't find it, you can <a href="{{ url_for('sign_in_bp.resend_verification', party_id=party_id) }}">request another email</a>.</p>

{% endblock main %}
