
{% extends "layouts/_twothirds.html" %}

{% block page_title %}Trouble signing in? - ONS Business Surveys{% endblock %}

{% block main %}
    <h1 class="u-fs-l">Check your email</h1>

    <p>You've tried to sign in a few times with the wrong details.</p>
    <p>If {{ form.data['username'] }} is registered to an account, we'll send an email explaining how to sign in.</p>

    <div class="guidance js-details"
     data-guidance-label="Help with email"
     data-guidance="Help with email"
     data-hide-label="Help with email"
     data-show-label="Help with email">

    <a class="guidance__link js-details-trigger js-details-label icon--details u-fs-r"
       id="guidance-help-with-email"
       data-guidance-trigger="true"
       aria-expanded="false"
       href="#guidance-help-with-email"
       aria-controls="guidance-help-with-email">Help with email</a>

      <div class="details__main js-details-body" id="guidance-help-with-email-body">
        <div class="details__content u-fs-r">
          <div>
            <p>If you do not receive this email in 15 minutes, you can try the following: </p>
              <li>Check your spam folder</li>
              <li>Check that you've entered your email address correctly </li>
              <li>Ensure that you've registered an account using this email address </li>
              <br>If you're still having problems, call us on <a href="tel:0300 1234 931">0300 1234 931</a> or send an <br/>email to <a href="mailto:surveys@ons.gov.uk">surveys@ons.gov.uk</a>.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock main %}
