{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Confirm organisation and survey{% endblock %}

{% block main %}

<form
        method="post"
        action="{{ url_for('register_bp.register_confirm_organisation_survey') }}"
        class="form"
        role="form">

    <h1 class="saturn">Confirm organisation and survey</h1>

    <div class="grid">
        <div class="grid__col col-4@m">Enrolment code:</div>
        <div class="grid__col col-8@m"><strong>{{ enrolment_code }}</strong></div>
        <div class="grid__col col-4@m">Organisation:</div>
        <div class="grid__col col-8@m"><strong>{{ organisation_name }}</strong></div>
        <div class="grid__col col-4@m">Survey to complete:</div>
        <div class="grid__col col-8@m"><strong>{{ survey_name }}</strong></div>
    </div>

    <br/>

    <input type="hidden" id="enrolment_code" name="enrolment_code" value="{{ encrypted_enrolment_code }}">

    <p>If this is the organisation and survey you are expecting, please confirm and continue to create your account.</p>

    <button class="btn btn--primary venus" type="submit" id="CONFIRM_AND_CONTINUE_BUTTON">Confirm and continue</button>

    <br>

    <p>If you already have an account you can still use this enrolment code after you
        <a href="/sign-in">sign in</a>.
    </p>

</form>
{% endblock main %}
