<div class="container">
    <header class="header">
        <div class="logo header__logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Office for National Statistics" class="logo__img" />
        </div>
        {% if logged_in %}
        <p>Hello Nick</p>
        {% endif %}
        {% if session.jwt_token %}
        <div>
            <p> Welcome back {{ data.user_id }}</p>
            <p> Select to sign out!</p>

        </div>


        {% else %}
            <a href="{{ url_for('login_OAuth') }}" > Sign in</a>
        {% endif %}
    </header>
</div>
<div class="bar " role="banner">
    <div class="bar__inner container">
        <div class="bar__title venus">ONS Business Surveys</div>&nbsp;
        <div class="badge badge--amber u-mr-xs">BETA</div>
    </div>
</div>
<div class="page__subheader"></div>
