{% extends "layout/_template.njk" %}
{% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
{% from "components/timeout-modal/_macro.njk" import onsTimeoutModal %}

{% block head %}
    {% set css_theme = "css"~_theme~"/theme.css" %}
    <link href="{{ url_for('static', filename=css_theme) }}" rel="stylesheet" />

    {% if config.GOOGLE_TAG_MANAGER_ID %}
        {% include "partials/gtm.html" %}
    {% endif %}
{% endblock %}
{% block bodyStart %}
    {% if config.GOOGLE_TAG_MANAGER_ID and config.GOOGLE_ANALYTICS_MEASUREMENT_ID %}
        {% include "partials/ga.html" %}
    {% endif %}
{% endblock %}

{% block preHeader %}
    {{
        onsCookiesBanner({
            "statementTitle": 'Tell us whether you accept cookies',
            "statementText": 'We use <a href="/cookies">cookies to collect information</a> about how you use surveys.ons.gov.uk. We use this information to make the website work as well as possible and improve our services.',
            "confirmationText": 'You’ve accepted all cookies. You can <a href="/cookies">change your cookie preferences</a> at any time.',
            "secondaryButtonUrl": '/cookies'
        })
    }}
{% endblock %}
{% set pageConfig = {
    "title": page_title + " | ONS Business Surveys" if page_title else "ONS Business Surveys",
    "header": {
        "title": "ONS Business Surveys",
    }
} %}
{% include 'layouts/configs/service-links.html' %}
{% include 'layouts/configs/footer.html' %}
{% from "components/panel/_macro.njk" import onsPanel %}

{%- block pageContent %}
    <div class="ons-page__container ons-container">
        {% block breadcrumbs %}{% endblock breadcrumbs %}
        {% if availability_message %}
            {{
                onsPanel({
                    "body": availability_message,
                    "classes": "ons-u-mt-l"
                })
            }}
        {% endif %}
        <div class="ons-grid">
            <div class="ons-grid__col ons-col-12@m ons-u-pt-no">
                <main id="main-content" class="ons-page__main">
                    {%- block content %}{% endblock content -%}
                </main>
            </div>
        </div>
    </div>
{% endblock pageContent -%}

{% block bodyEnd %}
{% endblock %}

{% block preFooter %}
    {% if session_expires_at %}
        {{
            onsTimeoutModal ({
                "showModalTimeInSeconds": 60,
                "redirectUrl": url_for("sign_in_bp.logout", sign_out_guidance=True),
                "sessionExpiresAt": session_expires_at,
                "serverSessionExpiryEndpoint": url_for("session.session_expires_at"),
                "title": "You will be signed out soon",
                "textFirstLine": "It appears you have been inactive for a while.",
                "countdownText": "To protect your information, your progress will be saved and you will be signed out in",
                "countdownExpiredText": "You are being signed out.",
                "btnText": "Continue survey",
                "minutesTextSingular": "minute",
                "minutesTextPlural": "minutes",
                "secondsTextSingular": "second",
                "secondsTextPlural": "seconds",
                "endWithFullStop": true
            })
        }}
    {% endif %}
{% endblock %}