{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% set breadcrumbsData = [] %}
{% if breadcrumbs|length == 1 %}
    {% block breadcrumbs %}
        {% do breadcrumbsData.append(
            {
                "text": breadcrumbs[-1].text,
                "url": breadcrumbs[-1].url
            }
        ) %}
        {{
            onsBreadcrumbs({
                "ariaLabel": "Breadcrumbs",
                "id": "breadcrumbs",
                "itemsList": breadcrumbsData
            })
        }}
    {% endblock breadcrumbs %}
{% endif %}
