{% set serviceLinks = {} %}

{% if 'authorization' in request.cookies %}
    {% set signInOutURL = url_for('sign_in_bp.logout') %}
    {% set signInOutText = "Sign out" %}
    {% if ns and ns.showHelp and ns.survey_ref and ns.ru_ref%}
        {% do serviceLinks | setAttribute("itemsList", [
            {
              "text": "My account",
              "url": "/my-account"
            },
            {
              "text": "Help",
              "url": "/surveys/help/"~ns.survey_ref~"/"~ns.ru_ref
            },
            {
              "text": signInOutText,
              "url": signInOutURL
            }
        ])%}
    {% else %}
        {% do serviceLinks | setAttribute("itemsList", [
            {
              "text": "My account",
              "url": "/my-account"
            },
            {
              "text": signInOutText,
              "url": signInOutURL
            }
        ])%}
    {% endif %}
{% else %}
    {% set signInOutURL = "/sign-in" %}
    {% set signInOutText = "Sign in" %}
    {% do serviceLinks | setAttribute("itemsList", [
        {
          "text": "Help",
          "url": "/help"
        },
        {
          "text": signInOutText,
          "url": signInOutURL
        }
      ])
    %}
{% endif %}


{% do pageConfig | setAttribute("serviceLinks", serviceLinks) %}
