{% set serviceLinks = {
    "toggleServicesButton": {
            "text": "Menu",
            "ariaLabel": "Toggle services menu"
        }
    }
%}

{% if 'authorization' in request.cookies %}
    {% set signInOutURL = url_for('sign_in_bp.logout') %}
    {% set signInOutText = "Sign out" %}
    {% do serviceLinks | setAttribute("itemsList", [
        {
            "title": "My account",
            "url": "/my-account"
        },
        {
            "title": signInOutText,
            "url": signInOutURL
        }
    ])%}
{% else %}
    {% set signInOutURL = "/sign-in" %}
    {% set signInOutText = "Sign in" %}
    {% do serviceLinks | setAttribute("itemsList", [
        {
            "title": "Help",
            "url": "/help"
        },
        {
            "title": signInOutText,
            "url": signInOutURL
        }
      ])
    %}
{% endif %}

{% do pageConfig.header | setAttribute("serviceLinks", serviceLinks) %}
