
{% extends "layouts/_block_content.html" %}

{% set page_title = "Too many attempts" %}

{% block main %}

<h1 class="u-fs-xl">You've tried to reset your password too many times</h1>

<div>
    <p>You've tried to reset your password too many times. You can request a new link after 24 hours.</p>
    <p>We can also help you to reset your password. Please call us on <a href="tel:03001234931">0300 1234 931</a> or send an email to <a href="mailto:surveys@ons.gov.uk"> surveys@ons.gov.uk</a></p>
</div>

<p><a href="/sign-in">Return to sign in</a></p>
{% endblock main %}
