{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Check your email - Forgot password - ONS Business Surveys{% endblock %}

{% block main %}
    <h1 class="saturn">Check your email</h1>
    <p>We've sent an email to the registered email address for this account.<br />
        Please follow the link in the email to reset your password.</p>

    <div class="details js-details" data-guidance-label="Help with email" data-guidance="Help with email" data-hide-label="Help with email" data-show-label="Help with email">

        <a class="details__link js-details-trigger js-details-label mars" id="guidance-help-with-email" data-guidance-trigger="true" aria-expanded="true" href="#guidance-help-with-email" aria-controls="guidance-help-with-email-body">Help with email</a>

        <div class="details__main js-details-body" id="guidance-help-with-email-body">
            <div class="details__content mars">
                <div>
                    <p>Email not arrived? It might be in your spam folder.</p>
                    <p>If it doesn’t arrive in the next 15 minutes, you can <a href="/register/create-account/email-resent?user_id=TODO">request another email</a>.
                    </p></div>
            </div>
        </div>
    </div>
{% endblock main %}
