{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Forgot password - ONS Business Surveys{% endblock %}

{% block main %}

{% if form.errors %}
<div class="panel panel--error">
    <div class="panel__header">
        <h1 class="panel__title venus">Invalid email address</h1>
    </div>
    <div class="panel__body" data-qa="error-body">
        <p class="mars"><a href="#forgot-details" class="js-inpagelink">Please enter a valid email address</a></p>
    </div>
</div>
<br />
{% endif %}

<form
    method="post"
    action="{{ url_for('passwords_bp.post_forgot_password') }}"
    class="form"
    role="form">

    <h1 class="saturn">Forgot password</h1>
    <legend>No problem. We'll send you a link to reset your password.</legend>
    <br />
    {{ form.csrf_token }}

    <fieldset id="forgot-details">
        {% if email %}
        <div class="panel panel--simple panel--error">
            <p class="error-message">{{ form.errors['email_address'][0] }}</p>
        {% endif %}
            <div class="field">

                {{ form.email_address.label(class_='label') }}

                <span class="label__description label__inner pluto">Please type the email address you were registered with</span>

                {{ form.email_address(class_='input input--text input-type__input') }}

            </div>
        </div>
    </fieldset>
    <br />

    <button class="btn venus u-mb-s" id="reset-password-btn" type="submit">Send reset link</button>

    <p><a href="/sign-in">Cancel</a></p>

</form>
{% endblock main %}
