
{% extends "layouts/_block_content.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}

{% set page_title = "Forgot password" %}

{% block main %}
    {% if form.errors %}
        {% call
            onsPanel({
                "variant": "error",
                "classes": "ons-u-mb-s",
                "title": "There is 1 error on this page"
            })
        %}
            <p>This <strong>must be corrected</strong> to continue.</p>
            <p><a href="#forgot-details-error" class="ons-js-inpagelink">{{ form.errors['email_address'][0] }}</a></p>
        {% endcall %}
        {% set inputError = { "text": form.errors['email_address'][0], "id": 'forgot-details-error' } %}
    {% endif %}
    <form
        method="post"
        action="{{ url_for('passwords_bp.post_forgot_password') }}"
        role="form">

        <h1 class="ons-u-fs-xl">Forgot password</h1>
        <p>No problem, we'll send you a link to reset your password</p>
        {{ form.csrf_token }}
        {{
            onsInput({
                "id": "email_address",
                "name": "email_address",
                "type": "text",
                "label": {
                    "text": "Enter your email address",
                    "description": "Please type the email address you were registered with"
                },
                "error": inputError
            })
        }}

        {{
            onsButton({
                "text": "Send reset link",
                "type": "submit",
                "classes": "ons-u-mt-l ons-u-mb-s",
                "id": "reset-password-ons-btn",
                "submitType": "timer"
            })
        }}
        {{
            onsButton({
                "variants": 'secondary',
                "classes": "ons-u-mt-l ons-u-mb-s",
                "noIcon": true,
                "text": "Cancel",
                "url": url_for('sign_in_bp.login')
            })
        }}
    </form>
{% endblock main %}
