{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Check your email - Forgot password - ONS Business Surveys{% endblock %}

{% block main %}

    <h1 class="saturn">Password reset request sent</h1>

    <p>If {{ email }} is registered to an account, you'll receive an email with instructions to reset your password</p>

    <div class="guidance js-details"
     data-guidance-label="Help with email"
     data-guidance="Help with email"
     data-hide-label="Hide help with email"
     data-show-label="Show help with email">

        <a class="guidance__link js-details-trigger js-details-label icon--details mars"
        id="guidance-help-with-email"
        data-guidance-trigger="true"
        aria-expanded="false"
        href="#guidance-help-with-email"
        aria-controls="guidance-help-with-email">Help with email</a>

        <div class="guidance__main js-details-body" id="guidance-help-with-email" aria-hidden="true">
            <div class="guidance__content mars">
                <div>
                <p>Email not arrived? It might be in your spam folder.</p>
                <p>If it doesn’t arrive in the next 15 minutes, please call <a href="tel:03001234931">0300 1234 931</a> or send an email to <a href="mailto:surveys.ons@gov.uk">surveys.ons@gov.uk</a>.</p>
                </div>
            </div>
        </div>

    </div>

{% endblock main %}
