
{% extends "layouts/_block_content.html" %}

{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{% set page_title = "Check your email - Forgot password" %}

{% block main %}

    <h1 class="u-fs-xl">Check your email</h1>

    <p>Please follow the link in the email we've sent you to reset your password and sign in to your account.</p>
    
    {% call onsCollapsible({
        "id": "guidance-help-with-email",
        "title": "Help with email",
        "button": {
            "close": "Hide this",
            "contextSuffix": "content"
        }
    }) %}
        <p>If you don't receive this within 15 minutes, try checking your spam folder.</p>
        <p>If you're still having problems, call us on <a href="tel:03001234931">0300 1234 931</a>.</p>
    {% endcall %}
{% endblock main %}