
{% extends "layouts/_block_content.html" %}
{% from "components/details/_macro.njk" import onsDetails %}

{% set page_title = "Check your email - Forgot password" %}

{% block main %}

    <h1 class="ons-u-fs-xl">Check your email</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                    {% call onsPanel({
                        "variant": 'error',
                        "id": 'error-id',
                        "iconType": 'lock',
                        "classes": 'ons-u-mb-m'
                    }) %}
                        <p class="ons-u-fs-r" id="flashed-error-message-{{ loop.index }}">{{ message }}</p>
                    {% endcall %}
                {% elif category == "warn" %}
                    {% call onsPanel({
                        "variant": 'warn',
                        "id": 'info-id',
                        "classes": 'ons-u-mb-m'
                    }) %}
                        <p class="ons-u-fs-r" id="flashed-error-message-{{ loop.index }}"><b>{{ message }}</b></p>
                    {% endcall %}
                {% else %}
                    {% call onsPanel({
                        "variant": 'success',
                        "id": 'success-id',
                        "iconType": 'check',
                        "classes": 'ons-u-mb-m'
                    }) %}
                        <p class="ons-u-fs-r" id="flashed-message-{{ loop.index }}">{{ message }}</p>
                    {% endcall %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p>Please follow the link in the email we've sent to <b>{{ email }}</b> to reset your password and sign in to your account.</p>

    {% call onsDetails({
        "id": "guidance-help-with-email",
        "title": "Help with email",
        "button": {
            "close": "Hide this",
            "contextSuffix": "content"
        }
    }) %}
        <p>If you do not receive this email within 15 minutes, you can try the following:</p>
        <ul>
            <li>Check your spam folder</li>
            <li>Check that you've entered your email address correctly</li>
            <li>Ensure that you've registered an account using this email address</li>
        </ul>
        <p>If you're still having problems, call us on <a href="tel:03001234931">0300 1234 931</a> or send an email to <a href="mailto:surveys@ons.gov.uk"> surveys@ons.gov.uk</a></p>
    {% endcall %}
    <br/>
    <p><a href="/sign-in">Return to sign in</a></p>
{% endblock main %}