
{% extends "layouts/_block_content.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}

{% set errorType = data['error']['type'] %}

{% set page_title = "Reset Password" %}

{% block main %}

    {% if errorType %}

        {% set errorNotEnteredTitle = "Password is required" %}
        {% set errorNotEnteredDescription = "Please check the passwords and try again" %}

        {% set errorNoMatchTitle = "Your passwords do not match" %}
        {% set errorNoMatchDescription = "Please check the passwords and try again" %}

        {% set errorStrongerPasswordTitle = "Your password doesn't meet the requirements" %}
        {% set errorStrongerPasswordDescription = "Please choose a different password" %}

        {% set errorPasswordSameAsOldTitle = "Your password matches your old password" %}
        {% set errorPasswordSameAsOldDescription = "Please choose a different password or login with the old password" %}

        {% if errorType.password[0] == errorNotEnteredTitle %}
            {% set errorTitle = errorNotEnteredTitle %}
            {% set errorDescription = errorNotEnteredDescription %}
        {% elif errorType.password[0] == errorNoMatchTitle %}
            {% set errorTitle = errorNoMatchTitle %}
            {% set errorDescription = errorNoMatchDescription %}
        {% elif errorType.password[0] == errorStrongerPasswordTitle %}
            {% set errorTitle = errorStrongerPasswordTitle %}
            {% set errorDescription = errorStrongerPasswordDescription %}
        {% elif errorType.password[0] == errorPasswordSameAsOldTitle %}
            {% set errorTitle = errorPasswordSameAsOldTitle %}
            {% set errorDescription = errorPasswordSameAsOldDescription %}
        {% endif %}

        {% call
            onsPanel({
                "variant": "error",
                "classes": "ons-u-mb-s",
                "title": errorTitle
            })
        %}
            <p>This <strong>must be corrected</strong> to continue.</p>
            <a href="#inputPassword" class="ons-js-inpagelink">{{ errorDescription }}</a>
        {% endcall %}
    {% endif %}

    <form
        method="post"
        action="{{ url_for('passwords_bp.post_reset_password', token=data.token) }}"
        role="form">
        {{ form.csrf_token }}

        <h1 class="ons-u-fs-xl">Reset your password</h1>
        <p>Your password must have:</p>
        {{
            onsList({
                "itemsList": [
                    {
                        "text": "at least 12 characters"
                    },
                    {
                        "text": "at least one capital letter"
                    },
                    {
                        "text": "at least one symbol (eg ?!£%)"
                    },
                    {
                        "text": "at least one number"
                    }
                ]
            }) 
        }}

        {% if errorType.password %}
            {% set error = { "text": errorType['password'][0] } %}
        {% endif %}

        {%- call onsFieldset({
            "legend": "Choose a password",
            "classes": 'ons-u-mt-l',
            "legendClasses": "ons-u-vh",
            "id": "reset-details"
        }) -%}
            {{
                onsPassword({
                    "id": "inputPassword",
                    "name": "password",
                    "label": {
                        "text": 'New password'
                    },
                    "attributes": {
                        "autocomplete": 'off'
                    },
                    "showPasswordText": "Show password",
                    "error": error
                })
            }}
            {{
                onsInput({
                    "id": "password_confirm",
                    "name": "password_confirm",
                    "type": "password",
                    "label": {
                        "text": "Re-type Password"
                    },
                    "attributes": {
                        "autocomplete": 'off'
                    },
                    "error": error
                })
            }}
        {%- endcall -%}

        {{
            onsButton({
                "classes": "ons-u-mb-s ons-u-mt-s",
                "text": "Confirm",
                "id": "confirm_password_button",
                "submitType": "timer"
            })
        }}   

        <p><a href="{{ url_for('sign_in_bp.login') }}">Cancel</a></p>

    </form>
{% endblock main %}
