{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Something went wrong - ONS Business Surveys{% endblock %}

{% block main %}
    <h1 class="saturn">Something went wrong</h1>

    <p class="u-mb-l">Please call us on <a href="tel:03001234931">0300 1234 931</a></p>

    <div class="mars">
        <p class="u-mb-l">Opening hours:<br />
            Monday to Thursday 8:30am – 5pm<br/>
            Friday 8:30am - 4:30pm</p>
    </div>

{% endblock main %}
