
{% extends "layouts/_twothirds.html" %}

{% set page_title = "An error has occurred" %}

{% block main %}
        <div class="grid__col col-8@m">
              <main id="main-content" role="main" class="page__main ">
                <h1 class="u-fs-xl">An error has occurred</h1>
                <p>Sorry, something has gone wrong.</h1>
                  <p>If the problem continues, <a href="/contact-us">contact the survey enquiries helpline</a>.</p>
              </main>
            </div>
{% endblock main %}
