{% extends "layouts/_block_content.html" %}
{% set page_title = "An error has occurred" %}
{% block main %}
    <div class="ons-grid__col ons-col-8@m">
        <main id="main-content" role="main" class="ons-page__main">
            <h1 class="ons-u-fs-xl">An error has occurred</h1>
            <p>Sorry, something has gone wrong.</p>
            <p>
                If the problem continues, <a href="/contact-us">contact the survey enquiries helpline</a>.
            </p>
        </main>
    </div>
{% endblock main %}
