{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}ONS Business Surveys{% endblock %}

{% block main %}
    <h1 class="saturn">Access to this page is forbidden</h1>
    <p>The page you are trying to view is not for this account.</p>
	<p>If you have another ONS Business Surveys account, check that you are signed in to the right one.</p>
	<p>If the problem continues, contact the survey enquiries helpline for further support</p>
	<label class="label">Telephone:</label>
	<p><a href="tel:+443001234931">0300 1234 931</a></p>
	<label class="label">Opening times:</label>
	<p>Monday to Friday 9:00am to 5:00pm</p>
{% endblock main %}
