/**
 * Src
 */

$static: "/static/assets";

@import "partials/helpers/functions";
@import "partials/helpers/mixins";
@import "partials/helpers/mq";

@import "partials/vars/colors";
@import "partials/vars/forms";
@import "partials/vars/grid";
@import "partials/vars/typography";
//@import "partials/vars/vars";



/**
 * Fake hosted styles
 */
  @import "partials/vendor/normalize";

  @import "partials/base/global";
  @import "partials/base/typography";
  @import "partials/base/forms";


  /**
   * Structure/layout
   */
  @import "partials/objects/container";
  @import "partials/objects/page";
  @import "partials/objects/type-scale";

  @import "components/badge/badge";
  @import "components/bar/bar";
  @import "components/button/buttons";
  @import "components/header/header";
  @import "components/panel/panel";
  @import "components/skip/skip";
  @import "components/footer/footer";

  @import "components/03-grid/grid";
  @import "components/list/list";

  @import "components/details/details";
  @import "components/02-form-elements/fields/field/field";
  @import "components/02-form-elements/input/input";
  @import "components/02-form-elements/label/label";
  @import "components/logo/logo";


/**
 * Missing in pattern library
 */
@import "../../../../common/assets/styles/partials/objects/section";
@import "../../../../common/assets/styles/partials/utilities/margin";


/**
 * New patterns
 */
@import "../../partials/components/secure-message-form";
@import "../../partials/components/navigation-tabs";
@import "../../partials/components/message-list";
@import "../../partials/components/system-feedback";



@import "./common-overrides";


/**
 * New footer - needs to be pulled from pattern library
 */
.footer {
  margin-top : 2rem;
  padding-top : 2rem;
  padding-bottom : 4rem;
  color : #ffffff;
  background-color : #666666;

  a {
    color : #ffffff;
  }

  .footer__list {
    list-style-type : none;
  }

  .footer__heading {
    margin-top : 2rem;
  }

  .footer__license {
    margin-top : 2rem;
  }
}
