/**
 * Override normalize styles
 */
dd.grid__col {
  margin-left: 0;
}

dd.grid__col {
  margin-left : 0;
}

.ons-application-title {
    margin-right: 1rem;
}

// Survey upload controls
input[type=file]::-webkit-file-upload-button {
    font-size: 1.25rem;
    border: none;
    border-right: 2px solid #033e58;
    padding: 0.5rem 1rem;
    background:#F5F6FF;
    color:#033e58;
}

input[type=file] {
    border: 2px solid #033e58;
    border-radius: 4px;
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: 1rem;
    background: #fff;
}
input[type=file]:hover,
input[type=file]::-webkit-file-upload-button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 650px) and (max-width: 767px){
  input[type=file] {
    width: 80%;
  }
}

@media only screen and (min-width: 800px){
  input[type=file] {
    width: 70%;
  }
}

.error-message {
    color: $color-red;
}

.details__link {
    &:before {
        background-image: url("/static/images/guidance.svg");
    }

    &:focus {
        &::before {
            background-image: url("/static/images/guidance-white.svg");
        }
    }
}

.input--checkbox {
    background-image: url('https://eq.onsdigital.uk/s/img/icons/icons--check.svg');
}

.input--text-error {
    border: 1px solid red;
    border-width: 2px;
}

.survey-list {
    list-style: none;
    padding-left: 0;

    .header-row {
        display: none;
        border-bottom: 2px solid #666;
        font-weight: bold;
    }

    .card {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #ccc;
        padding: 20px 0;

        .survey-list-item__nowrap {
            white-space: nowrap;
        }
        @media only screen and (min-width: 740px) {
            .survey-list-item__label {
                display: none;
            }
        }

        &:hover {
            // TODO scss param
            background-color: #f7f7f7;
        }
    }

    .action-button {
        text-align: center;
        width: 140px;
        padding: 10px;
    }
    @media only screen and (max-width: 740px) {
        .action-button {
            width: 100%;
            margin-top: 10px;
        }
    }
}
@media only screen and (min-width: 740px) {
    .survey-list .header-row,
    .survey-list .header-row:hover {
        display: block;
        padding: 10px 0 0;
        background: #fff;
    }
}

// TODO fix this (from responsive.csss)
.mercury {
  font-size: 15.75px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.4;
}

@media only screen and (min-width: 740px) {
  .mercury {
    font-size: 0.77778rem;
  }
}

.pluto {
  font-size: 15.75px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
}

@media only screen and (min-width: 740px) {
  .pluto {
    font-size: 0.77778rem;
  }
}

.guidance {
  margin: 12.6px 0 0 -1.8px;
  margin: 0.7rem 0 0 -0.1rem;
}

.guidance__link {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-decoration: underline;
  padding: 3.6px 9px 3.6px 3.6px;
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  *display: inline;
  *zoom: 1;
}

.guidance__link span {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}

.guidance__link:before {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  margin-right: 5.399px;
  margin-right: 0.3rem;
  speak: none;
  content: "";
  background: url("/static/images/guidance.svg") no-repeat center center;
  background-size: auto;
  text-align: center;
  width: 18px;
  width: 1rem;
  height: 18px;
  height: 1rem;
  position: relative;
  left: -1.8px;
  left: -0.1rem;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.guidance__link:focus {
  outline: none;
}

.guidance__link:focus:before {
  background: url("/static/images/guidance-white.svg") no-repeat center center;
}

.is-expanded .guidance__link:before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.no-js .guidance__link {
  display: none;
}

.guidance__main {
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: all 0;
  transition: all 0;
  max-height: 0;
  margin-left: 9px;
  margin-left: 0.5rem;
}

.no-js .guidance__main,
.is-expanded .guidance__main {
  max-height: 10000em;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out, max-height 300ms ease-out;
  transition: opacity 300ms ease-out, max-height 300ms ease-out;
}

.guidance__content {
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-top: 18px;
  margin-top: 1rem;
  border-left: 2px solid #999;
  padding-left: 18px;
  padding-left: 1rem;
  margin-left: 1px;
}

@media only screen and (min-width: 500px) {
  .guidance__content div {
    display: table-cell;
  }
  .guidance__content div:first-of-type {
    padding-left: 0.25rem;
    padding-right: 0.5rem;
  }
  .guidance__content div:last-of-type {
    padding-left: 1rem;
  }
}

.guidance__content div ul {
  padding-left: 18px;
  padding-left: 1rem;
}

@media only screen and (min-width: 500px) {
  .guidance__content div ul {
    margin-bottom: 0;
  }
}

.lt-ie8 .guidance__content div ul {
  margin-bottom: 18px;
  margin-bottom: 1rem;
}

.navigation-tabs {
    margin-bottom: 1.5rem;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #555;

    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .navigation-tabs__item {
        margin-bottom: 0;

        .navigation-tabs__tab {
            margin-bottom: 0;
            padding: 0.5rem 1rem;
            border: 1px solid transparent;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;

            &.navigation-tabs__tab--active {
                border-color: inherit;
            }
        }

        &.navigation-tabs__item--primary {
            float: left;
        }

        &.navigation-tabs__item--secondary {
            float: right;
        }

        &.navigation-tabs__item--active {
            margin-bottom: -1px;
            padding-bottom: 1px;
            background-color: #fff;
        }
    }
}
