<br />
<h1>Pages/journeys</h1>

<h3>Sign in (Multiple failed sign in attempts)</h3>
<a href="sign-in">Sign in</a> =>
<a href="sign-in/error">Failed attempt</a> =>
<a href="sign-in/troubleshoot">Trouble</a> => <br />
(Email sent) =>
<a href="sign-in/final-sign-in">Last attempt</a> =>
<a href="sign-in/account-locked">Account locked</a>
<br />
<br />

<h3>Forgot password</h3>
<a href="forgot-password">Forgot password</a> =>
<a href="forgot-password?error=failed">Invalid email</a> =>
<a href="forgot-password/check-email/">Check email</a>
<br />
<br />

<h3>Reset password</h3>
<a href="reset-password" target="_blank">Reset password</a><br />
<a href="reset-password?error=password-mismatch">Password mismatch</a><br />
<a href="reset-password?error=stronger-password-required">Password not strong enough</a><br />
<a href="reset-password?error=password-too-common">Password too common</a><br />
<a href="reset-password/confirmation">Confirmation</a><br />
<br />

<h3>Register</h3>
<a href="create-account" target="_blank">Registration Part 1</a><br />
<a href="create-account/activate-account" target="_blank">Registration Part 2 - Activation (From email link)</a><br />

<br />
<br />
<a href="secure-messages/view">View secure message</a>

