{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}
{% set errorType = data['error']['type'] %}

{% block page_title %}Confirm organisation and survey{% endblock %}

{% block main %}
    {% if not session.jwt_token %}
        <h1 class="saturn">Error! You are not logged in!</h1>
        <div class="panel panel--simple panel--error">
        <p>You can not access protected endpoints. <a href="{{ url_for('login') }}"> Please Login first from here.</a></p>
        {% if errorType == "failed" %}
            <p>Perhaps you have cleared your session cookies, or browsing from a different browser without logging in on that browser?</p>
        {% endif %}
        </div>
    {% endif %}
{% endblock main %}
