{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Confirm organisation and survey{% endblock %}

{% block main %}

<form
        method="post"
        action="{{ url_for('register_enter_your_details') }}"
        class="form"
        role="form">

    <h1 class="saturn">Confirm organisation and survey</h1>

    <ul>
        <li>Enrolment code: <strong>{{ enrolment_code }}</strong></li>
        <li>Organisation: <strong>{{ organisation_name }}</strong></li>
        <li>Survey to complete: <strong>{{ survey_name }}</strong></li>
    </ul>

    <input type="hidden" id="enrolment_code" name="enrolment_code" value="{{ encrypted_enrolment_code }}">

    <p>If this is the organisation and survey you are expecting, please confirm and continue to create your account.</p>

    <button class="btn btn--primary venus" type="submit">Confirm and continue</button>

    <br>

    <p>If you already have an account you can still use this enrolment code after you
        <a href="/sign-in">sign in</a>.
    </p>

</form>
{% endblock main %}
