{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Enter your account details{% endblock %}

{% block main %}

        {% if errors|length > 0 %}
        <div class="panel panel--error">
            <div class="panel__header">
                {% if errors|length == 1 %}
                <h1 class="panel__title venus">{{ errors[error][0] }}</h1>
                {% elif errors|length > 1 %}
                <h1 class="panel__title venus">There are {{ errors|length }} errors on this page</h1>
                {% endif %}
            </div>
            <div class="panel__body" data-qa="error-body">
                {% for error in errors %}
                    {% set passwords = 'passwords' if error == 'password' else error %}
                    <p class="mars"><a class="js-inpagelink" href="#{{error}}_field">Please check the {{passwords}} and try again</a></p>
                {% endfor %}
            </div>
        </div>
        <br/>
        {% endif %}


        <form
            method="post"
            action="{{ url_for('register_enter_your_details') }}" class="form"
            class="form"
            role="form">

        <h1 class="saturn">Enter your account details</h1>
        {{ form.csrf_token}}

        <div class="section">
            <h2 class="section__title neptune">Your name</h2>
            {% if errors.first_name %}
            <div class="panel panel--simple panel--error">
                <p class="error-message">{{ errors['first_name'][0] }}</p>
            {% endif %}
                <div class="field" id="first_name_field">
                    {{ form.first_name.label(class_='label') }}
                    {{ form.first_name(class_='input input--text input-type__input') }}
                </div>
            {% if errors.first_name %}
            </div>
            {% endif %}
            <br />
            {% if errors.last_name %}
            <div class="panel panel--simple panel--error">
                <p class="error-message">{{ errors['last_name'][0] }}</p>
            {% endif %}
                <div class="field" id="last_name_field">
                    {{ form.last_name.label(class_='label') }}
                    {{ form.last_name(class_='input input--text input-type__input') }}
                </div>
            {% if errors.last_name %}
            </div>
            {% endif %}
        </div>

        <div class="section">
            <h2 class="section__title neptune">Email address</h2>
            <p class="section__description mars">We'll send you an email so you can activate your account</p>
            {% if errors.email_address %}
            <div class="panel panel--simple panel--error">
                <p class="error-message">{{ errors['email_address'][0] }}</p>
            {% endif %}
                <div class="field" id="email_address_field">
                    {{ form.email_address.label(class_='label') }}
                    {{ form.email_address(class_='input input--text input-type__input') }}
                </div>
            {% if errors.email_address %}
            </div>
            {% endif %}
        </div>

        <div class="section">
            <h2 class="section__title neptune">Create a password</h2>
            <p class="section__description mars">Your password must have:</p>
            <ul>
                <li>at least 8 characters </li>
                <li>at least one symbol (eg ?!£%) </li>
                <li>at least one capital letter</li>
                <li>at least one number</li>
            </ul>
            <fieldset class="js-new-password-group">
                {% if errors.password %}
                <div class="panel panel--simple panel--error">
                    <p class="error-message">{{ errors['password'][0] }}</p>
                {% endif %}
                    <div class="field" id="password_field">
                        {{ form.password.label(class_='label') }}
                        {{ form.password(class_='input input--text input-type__input js-new-password') }}
                    </div>
                    <br />
                    <div class="field">
                        {{ form.password_confirm.label(class_='label') }}
                        {{ form.password_confirm(class_='input input--text input-type__input js-confirm-new-password') }}
                    </div>
                {% if errors.password %}
                </div>
                {% endif %}
            </fieldset>
        </div>


        <div class="section">
            <h2 class="section__title neptune">Phone number</h2>
            <p class="section__description mars">We may sometimes need to call you to discuss information you have provided</p>
            {% if errors.phone_number %}
            <div class="panel panel--simple panel--error">
                <p class="error-message">{{ errors['phone_number'][0] }}</p>
            {% endif %}
                <div class="field" id="phone_number_field">
                    {{ form.phone_number.label(class_='label') }}
                    {{ form.phone_number(class_='input input--text input-type__input') }}
                </div>
            {% if errors.phone_number %}
            </div>
            {% endif %}
        </div>

        <br />

        <button class="btn btn--primary venus" type="submit">Continue</button>

    </form>
{% endblock main %}
