{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}

{% block page_title %}Enter your account details{% endblock %}

{% block main %}

{% if errors.password or errors.password_confirm %}
{% set errorType = errors.password[0] if errors.password else errors.password_confirm[0] %}
<div class="panel panel--error">
    <div class="panel__header">
        <h1 class="panel__title venus">{{ errorType }}</h1>
    </div>
    <div class="panel__body" data-qa="error-body">
        <p class="mars"><a class="js-inpagelink" href="#create-a-password">Please check the passwords and try again</a></p>
    </div>
</div>
<br/>
{% endif %}


    <form
            method="post"
            action="{{ url_for('register_enter_your_details') }}" class="form"
            class="form"
            role="form">

        <h1 class="saturn">Enter your account details</h1>
        {{ form.csrf_token}}

        <div class="section">
            <h2 class="section__title neptune">Your name</h2>
            <div class="field">
                {{ form.first_name.label(class_='label') }}
                {{ form.first_name(class_='input input--text input-type__input') }}
            </div>
            <br />

            <div class="field">
                {{ form.last_name.label(class_='label') }}
                {{ form.last_name(class_='input input--text input-type__input') }}
            </div>
        </div>



        {%  if errors.email_address_confirm or errors.email_address %}
        <div class="panel panel--error">
            {% for email_error in errors.email_address_confirm %}
                <div class="panel__header">
                    <h1 class="panel__title venus">{{ email_error }}</h1>
                </div>
            {% endfor %}
            {% for email_error in errors.email_address %}
                <div class="panel__header">
                    <h1 class="panel__title venus">{{ email_error }}</h1>
                </div>
            {% endfor %}
        {% else %}
        <div class="section">
        {%  endif %}
            <h2 class="section__title neptune">Email address</h2>
            <p class="section__description mars">We'll send you an email so you can activate your account.</p>
            <fieldset>
                <div class="field">
                    {{ form.email_address.label(class_='label') }}
                    {{ form.email_address(class_='input input--text input-type__input') }}
                </div>
                <br />

                <div class="field">
                    {{ form.email_address_confirm.label(class_='label') }}
                    {{ form.email_address_confirm(class_='input input--text input-type__input') }}
                </div>
            </fieldset>
        </div>


        <div class="section">
            <h2 class="section__title neptune">Create a password</h2>
            <p class="section__description mars">Your password must have:</p>
            <ul>
                <li>at least 8 characters </li>
                <li>at least one symbol (eg ?!£%) </li>
                <li>at least one capital letter</li>
                <li>at least one number</li>
            </ul>

            <fieldset class="js-new-password-group">
                {% if errors.password %}
                <div class="panel panel--simple panel--error">
                    <p class="error-message">{{ errorType }}</p>
                {% endif %}
                    <div class="field" id="create-a-password">
                        {{ form.password.label(class_='label') }}
                        {{ form.password(class_='input input--text input-type__input js-new-password') }}
                    </div>
                    <br />
                    <div class="field">
                        {{ form.password_confirm.label(class_='label') }}
                        {{ form.password_confirm(class_='input input--text input-type__input js-confirm-new-password') }}
                    </div>
                {% if errors.password %}
                </div>
                {% endif %}
            </fieldset>
        </div>


       {%  if errors.phone_number %}
       <div class="panel panel--error">
           <div class="section">

                <h2 class="section__title neptune">Phone number</h2>

                <p class="section__description mars">We may sometimes need to call you to discuss information you have provided.</p>

                <div class="field">
                    {{ form.phone_number.label(class_='label') }}
                    {{ form.phone_number(class_='input input--text input-type__input') }}
                </div>

           </div>

           {% for phone_error in errors.phone_number %}
                <div class="panel__header">
                    <h1 class="panel__title venus">{{ phone_error }}</h1>
                </div>
           {% endfor %}
       </div>
       {% else %}

        <div class="section">

            <h2 class="section__title neptune">Phone number</h2>
            <p class="section__description mars">We may sometimes need to call you to discuss information you have provided.</p>

            <div class="field">
                {{ form.phone_number.label(class_='label') }}
                {{ form.phone_number(class_='input input--text input-type__input') }}
            </div>

        </div>

        {% endif %}
        <div class="section">

            <h2 class="section__title neptune">Terms and Conditions</h2>

            <div class="field field--checkbox"><!-- field--multiplechoice - class displays border -->
                <fieldset>
                    <div class="field__item js-focusable-box is-checked">
                        <!--<input class="input input&#45;&#45;checkbox js-focusable" type="checkbox" id="checkbox1" />-->
                        {{ form.terms_and_conditions(class_='input input--checkbox js-focusable') }}
                        {{ form.terms_and_conditions.label(class_='label label--inline venus') }}
                        <!--<label class="label label&#45;&#45;inline venus" for="checkbox1">Please confirm you accept our <a href="#">Terms of use (Opens in a new window.)</a></label>-->
                    </div>
                </fieldset>
            </div>

        </div>
        <br />

        <button class="btn btn--primary venus" type="submit">Continue</button>

    </form>
{% endblock main %}
