
{% extends "messages.html" %}

{% block page_title %}Messages{% endblock %}


{% block messages %}

<ul class="navigation-tabs navigation-tabs--pills">
    <li id="Inbox" class="{% if label == 'INBOX' %}
                    {{ 'navigation-tabs__item navigation-tabs__item--primary navigation-tabs__item--active' }}
                {% else %}
                     {{ 'navigation-tabs__item navigation-tabs__item--primary' }}
                {% endif %}">
        <a href="/secure-message/messages/INBOX"
           class= "{% if label == 'INBOX' %}
                    {{ 'navigation-tabs__tab navigation-tabs__tab--active' }}
                 {% else %}
                    {{ 'navigation-tabs__tab' }}
                 {% endif %}">Inbox ({{total}})
        </a>
    </li>
    <li id="Sent" class="{% if label == 'SENT' %}
                    {{ 'navigation-tabs__item navigation-tabs__item--primary navigation-tabs__item--active' }}
                {% else %}
                     {{ 'navigation-tabs__item navigation-tabs__item--primary' }}
                {% endif %}">
        <a href="/secure-message/messages/SENT"
           class= "{% if label == 'SENT' %}
                    {{ 'navigation-tabs__tab navigation-tabs__tab--active' }}
                 {% else %}
                    {{ 'navigation-tabs__tab' }}
                 {% endif %}">Sent</a>
    </li>
    <li id="Draft" class="{% if label == 'DRAFT' %}
                    {{ 'navigation-tabs__item navigation-tabs__item--primary navigation-tabs__item--active' }}
                {% else %}
                     {{ 'navigation-tabs__item navigation-tabs__item--primary' }}
                {% endif %}">
        <a href="/secure-message/messages/DRAFT"
           class= "{% if label == 'DRAFT' %}
                    {{ 'navigation-tabs__tab navigation-tabs__tab--active' }}
                 {% else %}
                    {{ 'navigation-tabs__tab' }}
                 {% endif %}">Draft</a>
    </li>

    <li class="navigation-tabs__item navigation-tabs__item--secondary">
        <a href="/secure-message/create-message"
           class="navigation-tabs__tab navigation-tabs__tab--link">Create a message</a>
    </li>
</ul>

<ul class="message-list">
    {% for message in messages %}
    <li class="message-list__item">
        {% if 'UNREAD' in message['labels'] %}
            <b><a href="{{ url_for('secure_message_bp.draft_get', draft_id=message['msg_id']) }}">{{ message['subject'] }}</a></b>
        {% else %}
            <a href="{{ url_for('secure_message_bp.message_get', msg_id=message['msg_id']) }}">{{ message['subject'] }}</a>
        {% endif %}

        <dl class="grid">
            <dt class="grid__col col-2@m">
                {% if 'UNREAD' in message['labels'] %}
                    <b>Sent:</b>
                {% else %}
                    Sent:
                {% endif %}
            </dt>
            <dd> class="grid__col col-9@m pull-1@m">

                {% if 'SENT' in message['labels'] or 'INBOX' in message['labels'] %}
                    {{ message['sent_date'] }}
                {% elif 'DRAFT' in message['labels'] %}
                    {{ message['modified_date'] }}
                {% endif %}
            </dd>
            <dt class="grid__col col-2@m">
                {% if 'UNREAD' in message['labels'] %}
                    <b>From:</b>
                  {% else %}
                    From:
                {% endif %}
            </dt>
            <dd class="grid__col col-9@m pull-1@m">
                {% if 'UNREAD' in message['labels'] %}
                    <b>{{ message['@msg_from']['email'] }}</b>
                {% else %}
                    {{ message['@msg_from']['email'] }}
                {% endif %}
            </dd>
        </dl>

        <p>{{ message['body']|truncate(100) }}</p>

        {% if 'DRAFT' in message['labels'] %}
            <a href="{{ url_for('secure_message_bp.draft_get', draft_id=message['msg_id']) }}">Read full message</a>
        {% else %}
            <a href="{{ url_for('secure_message_bp.message_get', msg_id=message['msg_id']) }}">Read full message</a>
        {% endif %}
    </li>
    {% else %}
       <li>You have no messages</li>
    {% endfor %}
</ul>
{% endblock messages %}
