{% extends "messages.html" %}

{% block page_title %}
Send secure message
{% endblock %}

{% block messages %}

    <div class="grid grid--reverse">
        <div class="grid__col col-4@m"></div>
        <div class="grid__col col-7@m pull-1@m">
            <div class="system-feedback"> 
                <ul class="system-feedback__list"> 
                    <li class="system-feedback__list-item system-feedback__list-item--success"> 
                        <i class="fa fa-check-circle system-feedback__icon" aria-hidden="true"> Draft saved.<a href="http://localhost:5001/secure-message/messages/DRAFT">View your inbox</a> </i>  </li> 
                </ul> 
            </div>
            <h1 class="saturn">Edit a draft message</h1>

            <div class="secure-message-form">
                <form method="post">
                    <p>To: BRES</p>


                    <input
                            id="msg_id"
                            type ="hidden"
                            name="msg_id"
                            value="{{draft['msg_id']}}">

                    <fieldset>
                        <label for="secure-message-subject">Subject</label>
                        <input
                            id="secure-message-subject"
                            class="secure-message-form__subject input input--text"
                            type="text"
                            name="secure-message-subject"
                            value="{{draft['subject']}}"
                            required/>
                    </fieldset>

                    <br />

                    <fieldset>
                        <label for="secure-message-body">Message</label>
                        <textarea
                            id="secure-message-body"
                            class="secure-message-form__body input"
                            rows="10"
                            name="secure-message-body"
                            required>{{ draft['body']}}
                        </textarea>

                    </fieldset>

                    <br />

                    <input class="btn btn--secondary" type="submit" name ="submit" value="Save draft" id="draft">
                    <input class="btn" type="submit" name='submit' value="Send message">
                    <p><a href="{{ url_for('secure_message_bp.messages_get') }}">Cancel</a></p>
                </form>
            </div>
        </div>
    </div>

{% endblock messages %}
