{% import 'partials/section.html' as section %}
{% extends "layouts/_twocol.html" %}
{% set errorType = data['error']['type'] %}

{% block page_title %}Confirm organisation and survey{% endblock %}

{% block main %}
    {% if session.jwt_token %}
        <h1 class="saturn">Congratulations. You are signed in.</h1>
        <p>You can now access protected endpoints.</p>
        <p>To sign out please <a href="{{ url_for('logout') }}" > select here.</a> </p>
    {% else %}
        <h1 class="saturn">Error! You are not logged in!</h1>
        <div class="panel panel--simple panel--error">
        <p>You can not access protected endpoints. <a href="{{ url_for('login_OAuth') }}"> Please Login first from here.</a></p>
        {% if errorType == "failed" %}
            <p>Perhaps you have cleared your session cookies, or browsing from a different browser without logging in on that browser?</p>
        {% endif %}
        </div>
    {% endif %}
{% endblock main %}
