{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}My surveys - ONS Business Surveys{% endblock %}

{% block main %}

    <h1 class="saturn">Upload a survey response</h1>

    <form
            method="post"
            action="{{ url_for('upload_survey', case_id=case_id) }}"
            class="form"
            role="form">

        <div>
            <label class="label" for="selected-file">Select a file: </label>
            <input class="input input--text" id="selected-file" name="selected-file" type="file" required />
        </div>

        <br />

        <button class="btn action-button btn--secondary" type="submit">
            Upload&nbsp;&nbsp;&nbsp;<i class="fa fa-upload fa-lg" aria-hidden="true"></i>
        </button>

    </form>

    <br />

    <div>
        <a href="{{ url_for('logged_in') }}">Back</a>
    </div>

{% endblock main %}




