<div class="grid">

    <ul class="survey-list">

        <li class="header-row">

            <div id="SURVEY_COLUMN_HEADING" class="grid__col col-4@m">
                Survey
            </div>

            <div id="PERIOD_COVERED_COLUMN_HEADING" class="grid__col col-2@m">
                Period covered
            </div>

            <div id="SUBMIT_BY_COLUMN_HEADING" class="grid__col col-2@m">
                Submit by
            </div>

            <div id="STATUS_COLUMN_HEADING" class="grid__col col-2@m">
                Status
            </div>

        </li>

        {% for data in data_array.rows %}

        <li class="card">

            <div class="grid__col col-4@m">
                <span class="survey-list-item__label mercury">SURVEY: </span>
                <span>{{ data.surveyData.longName }}</span><br />
                <span class="survey-list-item pluto">
                    BUSINESS: {{ data.businessData.name }}<br />
                    REF: {{data.case.caseGroup.sampleUnitRef }}
                </span>
            </div>

            <div class="grid__col col-2@m">
                <span class="survey-list-item__label mercury">PERIOD COVERED: </span>
                <span class="survey-list-item__nowrap">{{ data.collectionExerciseData.periodStartFormatted }} - </span>
                <span class="survey-list-item__nowrap">{{ data.collectionExerciseData.periodEndFormatted }}</span>
            </div>

            <div class="grid__col col-2@m">
                <span class="survey-list-item__label mercury">SUBMIT BY: </span>
                <span>{{ data.collectionExerciseData.scheduledReturnFormatted }}</span>
            </div>

            <div class="grid__col col-2@m">
                <span class="survey-list-item__label mercury">STATUS: </span>
                <span>{{ data.status | case_status_filter }}</span>
            </div>

            <div class="grid__col col-2@m">
                <a id="ACCESS_SURVEY_BUTTON_{{loop.index}}" class="btn action-button btn--primary" target="_blank"
                    href="{{ url_for('.access_survey', case_id=data.case.id, collection_instrument_id=data.case.collectionInstrumentId) }}">Access survey</a>
            </div>

        </li>

        {% endfor %}

        {% if data_array.rows|length == 0 %}
        <li class="card" >
            <div class="grid__col col-12@m">You have no surveys to complete</div>
        </li>
        {% endif %}

    </ul>

</div>

