{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}My surveys - ONS Business Surveys{% endblock %}

{% block main %}

<div>
    <a href="{{ url_for('surveys_bp.logged_in') }}">Back</a>
</div>

<br/>

<h1 class="saturn">{{ form.survey }}</h1>

<h2 class="neptune">Download</h2>


<p>{{ form.survey_abbr or 'no survey' }} spreadsheet for <strong>{{ form.business or 'no business' }}</strong> for the
    period {{ form.period_start or 'no start period' }} to {{ form.period_end or 'no end period' }}</p>

<p>If actual figures are not available, please provide informed estimates.</p>


<a id="DOWNLOAD_SURVEY_BUTTON" class="btn action-button btn--primary" target="_blank"
   href="{{ config.API_GATEWAY_COLLECTION_INSTRUMENT_URL }}download/{{ ci_data.id }}">

    <div>
        <span class="download__text">Download spreadsheet&nbsp;&nbsp;&nbsp;</span>
        <span class="download__text"><i class="fa fa-download fa-lg" aria-hidden="true"></i></span>
    </div>
    <div class="download__text pluto">({{ ci_data.len | file_size_filter }} KB)</div>
</a>

<br/>
<br/>

<h2 class="neptune">Upload</h2>

<p>Please upload by <strong>{{ form.submit_by or 'no submission deadline' }}</strong></p>

<div class="guidance js-details upload-guidance"
    data-guidance-label="Guidance for uploading"
    data-guidance="Guidance for uploading"
    data-hide-label="Hide guidance for uploading"
    data-show-label="Show guidance for uploading">

<a class="guidance__link js-details-trigger js-details-label mars"
    id="guidance-for-uploading"
    data-guidance-trigger="true"
    aria-expanded="false"
    href="#guidance-for-uploading"
    aria-controls="guidance-help-with-email-body">Show guidance for uploading</a>

<div class="guidance__main js-details-body" id="guidance-help-with-email" aria-hidden="true">
    <div class="guidance__content mars">
        <div>
            <p>Your file needs to be:</p>
            <ul>
                <li>.xls or .xlsx format</li>
                <li>smaller than 20MB</li>
            </ul>
        </div>
    </div>
</div>

<br/>

<p class="venus"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
    We will treat your data securely and confidentially</p>

{% include "surveys-upload-file-picker.html" %}


{% endblock main %}
