<div class="grid">

    <ul class="survey-list">

        <li class="header-row">

            <div class="grid__col col-4@m">
                Survey...
            </div>

            <div class="grid__col col-2@m">
                Period covered
            </div>

            <div class="grid__col col-2@m">
                Submit by
            </div>

            <div class="grid__col col-2@m">
                Status
            </div>

        </li>

        {% for data in dataArray %}

        <li class="card">


            <div class="grid__col col-4@m">
                <span class="survey-list-item__label mercury">SURVEY: </span>
                <span>{{ data.surveyData.longName }}</span><br />
                <span class="survey-list-item pluto">
                    BUSINESS: {{ data.businessData.name }}<br />
                    REF: {{data.case.caseGroup.sampleUnitRef }}
                </span>
            </div>

            <div class="grid__col col-2@m">
                <span class="survey-list-item__label mercury">PERIOD COVERED: </span>
                <span class="survey-list-item__nowrap">{{ data.collectionExerciseData.periodStartFormatted }} - </span>
                <span class="survey-list-item__nowrap">{{ data.collectionExerciseData.periodEndFormatted }}</span>
            </div>

            <div class="grid__col col-2@m">
                <span class="survey-list-item__label mercury">SUBMIT BY: </span>
                <span>{{ data.collectionExerciseData.scheduledReturnFormatted }}</span>
            </div>

            <div class="grid__col col-2@m">
                <span class="survey-list-item__label mercury">STATUS: </span>
                <span>{{ data.status }}</span>
            </div>

            <div class="grid__col col-2@m">
                <a class="btn action-button" href="/test.html">Download</a>
            </div>

        </li>

        {% endfor %}
    
        <li class="card" >
            <div class="grid__col col-4@m">You have no surveys to complete</div>
        </li>

    </ul>

</div>



<!-- <a href="/create-account/check-email/">go somewhere else</a> -->
