{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}My surveys - ONS Business Surveys{% endblock %}

{% block main %}

<div class="grid">
    <div class="grid__col col-12@m">
        <div class="panel panel--success upload--success">
            <div class="panel__header">
                <div class="venus">File uploaded successfully</div>
            </div>
            <div class="panel__body">
                <p>7283647500G.xlsx has been uploaded.</p>
                <p>Business Register and Employment Survey has now moved into your <a href="/history">history</a>.</p>
                <a href="/">Return to my to do list</a>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
