<div class="grid">

    <ul class="survey-list">

        <li class="header-row">

            <div class="grid__col col-4@m">
                Survey
            </div>

            <div class="grid__col col-2@m">
                Period covered
            </div>

            <div class="grid__col col-2@m">
                Submit by
            </div>

            <div class="grid__col col-2@m">
                Status
            </div>

        </li>

        {% for data in data_array.rows %}

        <li class="card">

            <div class="grid__col col-4@m">
                <span class="survey-list-item__label mercury">SURVEY: </span>
                <span>{{ data.surveyData.longName }}</span><br />
                <span class="survey-list-item pluto">
                    BUSINESS: {{ data.businessData.name }}<br />
                    REF: {{data.case.caseGroup.sampleUnitRef }}
                </span>
            </div>

            <div class="grid__col col-2@m">
                <span class="survey-list-item__label mercury">PERIOD COVERED: </span>
                <span class="survey-list-item__nowrap">{{ data.collectionExerciseData.periodStartFormatted }} - </span>
                <span class="survey-list-item__nowrap">{{ data.collectionExerciseData.periodEndFormatted }}</span>
            </div>

            <div class="grid__col col-2@m">
                <span class="survey-list-item__label mercury">SUBMIT BY: </span>
                <span>{{ data.collectionExerciseData.scheduledReturnFormatted }}</span>
            </div>

            <div class="grid__col col-2@m">
                <span class="survey-list-item__label mercury">STATUS: </span>
                <span>{{ data.status | case_status_filter }}</span>
            </div>

            <div class="grid__col col-2@m">
                <div class="survey-action">

                    <a class="btn action-button btn--primary" target="_blank" href="{{ config.API_GATEWAY_COLLECTION_INSTRUMENT_URL }}download/{{data.case.collectionInstrumentId}}">Download&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>

                        <!--TODO file size-->
                        <!--<span class="pluto survey-list-item__nowrap">(spreadsheet ???KB)</span>-->
                    </a>

                    <form
                            method="post"
                            class="form"
                            role="form">

                            <a class="btn action-button btn--secondary" href="{{ url_for('upload_survey', case_id=data.case.id) }}">Upload&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
                            </a>
                    </form>
                </div>
            </div>

        </li>

        {% endfor %}

        {% if data_array.rows|length == 0 %}
        <li class="card" >
            <div class="grid__col col-12@m">You have no surveys to complete</div>
        </li>
        {% endif %}

    </ul>

</div>

