{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}My surveys - ONS Business Surveys{% endblock %}

{% block main %}

<div>
    <a href="{{ url_for('surveys_bp.logged_in') }}">Back</a>
</div>

<br/>

<h1 class="saturn">{{ survey }}</h1>

<h2 class="neptune">Download</h2>


<p>{{ survey_abbr }} spreadsheet for <strong>{{ business }}</strong> for the period {{ period_start }} to {{ period_end }}</p>

<p>If actual figures are not available, please provide informed estimates.</p>


<a id="DOWNLOAD_SURVEY_BUTTON" class="btn action-button btn--primary" target="_blank"
   href="{{ config.API_GATEWAY_COLLECTION_INSTRUMENT_URL }}download/{{ ci_data.id }}">

    <div>
        <span class="download__text">Download spreadsheet&nbsp;&nbsp;&nbsp;</span>
        <span class="download__text"><i class="fa fa-download fa-lg" aria-hidden="true"></i></span>
    </div>
    <div class="download__text pluto">({{ ci_data.len | file_size_filter }} KB)</div>
</a>

<br/>
<br/>

<h2 class="neptune">Upload</h2>

<p>Please upload by <strong>{{ submit_by }}</strong></p>

<!--TODO-->
<!--<div class="guidance js-details upload-guidance is-expanded" data-guidance-label="Guidance for uploading"-->
     <!--data-guidance="Guidance for uploading" data-hide-label="Hide guidance for uploading"-->
     <!--data-show-label="Show guidance for uploading">-->

    <!--<a class="guidance__link js-details-trigger js-details-label mars" id="guidance-for-uploading"-->
       <!--data-guidance-trigger="true" aria-expanded="true" href="#guidance-for-uploading"-->
       <!--aria-controls="guidance-help-with-email-body">Hide guidance for uploading</a>-->

    <!--<div class="guidance__main js-details-body" id="guidance-help-with-email" aria-hidden="false">-->
        <!--<div class="guidance__content mars">-->
            <!--<div>-->
                <!--<p>Your file needs to be:</p>-->
                <!--<ul>-->
                    <!--<li>.xls or .xlsx format</li>-->
                    <!--<li>smaller than 20MB</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<br/>

<p class="venus"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
    We will treat your data securely and confidentially</p>

{% include "surveys-upload-file-picker.html" %}


{% endblock main %}




