{% import 'partials/section.html' as section %}

{% extends "layouts/_onecol.html" %}

{% block page_title %}My surveys - ONS Business Surveys{% endblock %}

{% block main %}

<h1 class="saturn">Upload a collection instrument</h1>

{% endblock main %}


    <!--<form-->
            <!--method="post"-->
            <!--action="{{ url_for('upload_survey') }}"-->
            <!--class="form"-->
            <!--role="form">-->
        <!--<h1 class="saturn">Upload a collection instrument</h1>-->



        <!--<button class="btn btn&#45;&#45;secondary venus" type="submit">Upload</button>-->

    <!--</form>-->

